Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**

DO NOT MERGE - test the CI.
  common/Makefile
Due: Common: Test

Use go:1.24
  .cirrus.yml
  go.work
Due: none

Update the gcp token.
  .cirrus.yml
Due: none

Packit: initial enablement
  .packit.yaml
  common/rpm/containers-common.spec
  common/rpm/update-config-files.sh
  common/rpm/update-lib-versions.sh
Due: Common: Test

Update the IMAGE_SUFFIX to match the skopeo one.
  .cirrus.yml
Due: none

Rename URLs in module section in go.mod to go.podman.io
  common/go.mod
  image/go.mod
  storage/go.mod
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Add renovate.json to run vendor command.
  common/go.mod
  common/go.sum
  renovate.json
  storage/go.mod
  storage/go.sum
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Use the .github/renovate.json5 config file.
  .github/renovate.json5
  renovate.json
Due: none

Fix wrong syntax in the .github/renovate.json5 config file
  .github/renovate.json5
Due: none

Run the go mod vendor. Remove assignees for renovate PR temporarily.
  .github/renovate.json5
  vendor/modules.txt
Due: none

Do not exclude go.work.sum
  .gitignore
  go.work.sum
  vendor/github.com/santhosh-tekuri/jsonschema/v6/go.work.sum
Due: none

Try pushing dummy go.mod to see if it fixes Renovate.
  go.mod
Due: none

Do not run tree_status, since we do not use 'vendor' dir anymore.
  .cirrus.yml
Due: none

Do not merge: test-pr
  common/Makefile
Due: Common: Test

Test PR for image.
  image/Makefile
Due: Image: Validate, Common: Test

Update Makefile
  storage/Makefile
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

remove dummy go.mod
  go.mod
Due: none

DNM: TEST
  storage/README.md
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Use latest IMAGE_SUFFIX for tests.
  .cirrus.yml
Due: none

Run the Image timestamp update task.
  .cirrus.yml
Due: none

Test
  storage/Makefile
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Test PR for storage.
  storage/Makefile
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

a very long subject line that will be longer than 90 characters so this should fail the validation
  common/libimage/corrupted_test.go
  common/libimage/manifests/copy.go
  go.work.sum
Due: Common: Test

inject a bunch or random error to make sure CI fails
  common/libnetwork/netavark/run_test.go
  image/signature/sigstore/rekor/rekor_test.go
  storage/drivers/overlay/overlay_test.go
  storage/tests/check.bats
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

test
  .github/workflows/validate.yml
Due: none

test git-validation
  .github/workflows/validate.yml
Due: none

TMT: skopeo revdep tests
  .fmf/version
  .packit.yaml
  plans/skopeo.fmf
Due: none

set orders in plan
  plans/skopeo.fmf
Due: none

try dnf update in podman-next step
  plans/skopeo.fmf
Due: none

CONTRIBUTING: fix table of contents
  CONTRIBUTING.md
  CONTRIBUTING_GO.md
  CONTRIBUTING_RUST.md
Due: none

Makefile: tidy also run go work sync
  Makefile
Due: none
