Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage_fedora_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

storage_debian_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

Storage: Lint:
  alias: storage_lint
  env:
    CIRRUS_WORKING_DIR: /go/src/github.com/containers/storage
  container:
    image: golang
  modules_cache:
    fingerprint_script: cat storage/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'apt-get update
  
    apt-get install -y libbtrfs-dev libsubid-dev
  
    '
  ...

Image: Validate:
  alias: image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${DEBIAN_CACHE_IMAGE_NAME}
  env:
    HOME: /root
  script: 'cd image
  
    git remote update
  
    make tools
  
    # TODO: Enable once we are done with monorepo tests.
  
  ...

Common: Test:
  alias: common_testing
  container:
    image: ${FEDORA_CONTAINER_FQIN}
  modules_cache:
    fingerprint_script: cat common/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'cd common
  
    make vendor
  
    '
  test_script: 'cd common
  
    hack/tree_status.sh
  
    make build
  
    make build-cross
  
    make test
  
    '

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: 'cd storage
  
    git diff --diff-filter=M --exit-code
  
    '

Storage: codespell:
  alias: storage_codespell
  container:
    image: python
  build_script: pip install codespell
  test_script: 'cd storage
  
    codespell
  
    '

simplify cgroups.AvailableControllers
  common/pkg/cgroups/cgroups_linux.go
Due: Common: Test

common: controllerHandler.Apply replaced by fs2.NewManager
  common/pkg/cgroups/blkio_linux.go
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/cpu_linux.go
  common/pkg/cgroups/cpuset_linux.go
  common/pkg/cgroups/memory_linux.go
  common/pkg/cgroups/pids_linux.go
Due: Common: Test

common/pkg/cgroups: Replace handler interface with stat functions
  common/pkg/cgroups/blkio_linux.go
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/cpu_linux.go
  common/pkg/cgroups/memory_linux.go
  common/pkg/cgroups/pids_linux.go
Due: Common: Test

common/pkg/cgroups: Remove unused fs imports and handler fields
  common/pkg/cgroups/blkio_linux.go
  common/pkg/cgroups/cpu_linux.go
  common/pkg/cgroups/cpuset_linux.go
  common/pkg/cgroups/memory_linux.go
  common/pkg/cgroups/pids_linux.go
Due: Common: Test

Revert "Revert Cgroups V1 removal"
  common/pkg/cgroups/blkio_linux.go
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/cgroups_linux_test.go
  common/pkg/cgroups/cpu_linux.go
  common/pkg/cgroups/cpuset_linux.go
  common/pkg/cgroups/memory_linux.go
  common/pkg/cgroups/pids_linux.go
  common/pkg/cgroups/systemd_linux.go
  common/pkg/cgroups/utils_linux.go
  common/pkg/cgroupv2/cgroups_linux.go
  common/pkg/cgroupv2/cgroups_unsupported.go
  common/pkg/config/default.go
  common/pkg/config/systemd.go
  common/pkg/sysinfo/sysinfo_linux.go
  common/pkg/systemd/systemd_linux.go
Due: Common: Test

common/pkg/cgroups: Remove unused cpuset handler
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/cpuset_linux.go
Due: Common: Test

vendor: remove unused files from github.com/opencontainers/cgroups
  vendor/github.com/opencontainers/cgroups/fs/blkio.go
  vendor/github.com/opencontainers/cgroups/fs/cpu.go
  vendor/github.com/opencontainers/cgroups/fs/cpuacct.go
  vendor/github.com/opencontainers/cgroups/fs/cpuset.go
  vendor/github.com/opencontainers/cgroups/fs/devices.go
  vendor/github.com/opencontainers/cgroups/fs/error.go
  vendor/github.com/opencontainers/cgroups/fs/freezer.go
  vendor/github.com/opencontainers/cgroups/fs/fs.go
  vendor/github.com/opencontainers/cgroups/fs/hugetlb.go
  vendor/github.com/opencontainers/cgroups/fs/memory.go
  vendor/github.com/opencontainers/cgroups/fs/name.go
  vendor/github.com/opencontainers/cgroups/fs/net_cls.go
  vendor/github.com/opencontainers/cgroups/fs/net_prio.go
  vendor/github.com/opencontainers/cgroups/fs/paths.go
  vendor/github.com/opencontainers/cgroups/fs/perf_event.go
  vendor/github.com/opencontainers/cgroups/fs/pids.go
  vendor/github.com/opencontainers/cgroups/fs/rdma.go
  vendor/modules.txt
Due: none

common/pkg/cgroups: Remove linuxCpusetHandler.Create and cpusetCopyFromParent
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/cpuset_linux.go
Due: Common: Test

common/pkg/cgroups: replace getAvailableControllers by only caller
  common/pkg/cgroups/cgroups_linux.go
Due: Common: Test

Add a DefaultNetwork field to NetworkInfo
  common/libnetwork/cni/network.go
  common/libnetwork/netavark/network.go
  common/libnetwork/types/network.go
Due: Common: Test

Add back cgroups.AddPid
  common/pkg/cgroups/cgroups_linux.go
Due: Common: Test

Add delta manifest and delta layer support
  go.work.sum
  image/copy/compression.go
  image/copy/single.go
  image/docker/docker_image_src.go
  image/go.mod
  image/go.sum
  image/internal/image/unparsed.go
  image/internal/testing/mocks/image_source.go
  image/internal/testing/mocks/unparsed_image.go
  image/manifest/oci.go
  image/openshift/openshift_dest.go
  image/openshift/openshift_src.go
  image/storage/storage_dest.go
  image/types/types.go
  vendor/github.com/containers/tar-diff/LICENSE
  vendor/github.com/containers/tar-diff/pkg/common/common.go
  vendor/github.com/containers/tar-diff/pkg/common/version.go
  vendor/github.com/containers/tar-diff/pkg/tar-patch/apply.go
  vendor/modules.txt
Due: Image: Validate, Common: Test

Update a cancelableReader importing gpg keys
  image/copy/single.go
  image/signature/mechanism.go
  image/signature/mechanism_gpgme_only.go
  image/signature/mechanism_openpgp.go
  image/signature/mechanism_sequoia.go
  image/signature/mechanism_test.go
  image/signature/policy_eval_signedby.go
Due: Image: Validate, Common: Test

image/directory: store blobs with digest algorithm prefix
  image/directory/directory_dest.go
  image/directory/directory_src.go
  image/directory/directory_transport.go
  image/directory/directory_transport_test.go
Due: Image: Validate, Common: Test

image/directory: assign version based on digest algorithm
  image/directory/directory_dest.go
  image/directory/directory_src.go
  image/directory/directory_test.go
  image/directory/directory_transport_test.go
Due: Image: Validate, Common: Test

image/manifest: Add `DigestWithAlgorithm` function
  image/internal/manifest/manifest.go
  image/internal/manifest/manifest_test.go
  image/manifest/manifest.go
Due: Image: Validate, Common: Test

Cleanup manpage formatting
  common/docs/Containerfile.5.md
  common/docs/containerignore.5.md
  common/docs/containers.conf.5.md
Due: Common: Test

Fix race condition in concurrent artifact additions
  common/pkg/libartifact/store/store.go
Due: Common: Test

Add bcachefs storage driver with subvolume/snapshot support
  storage/drivers/bcachefs/bcachefs.go
  storage/drivers/bcachefs/bcachefs_test.go
  storage/drivers/bcachefs/dummy_unsupported.go
  storage/drivers/driver_linux.go
  storage/drivers/register/register_bcachefs.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

image/storage: allow building container images with `--digest`
  image/storage/storage_dest.go
  image/storage/storage_dest_test.go
Due: Image: Validate, Common: Test

Bump common to v0.66.1
  common/version/version.go
Due: Common: Test

Bump back to v0.67.0-dev
  common/version/version.go
Due: Common: Test

Strong type libartifact
  common/pkg/libartifact/artifact.go
  common/pkg/libartifact/store/reference.go
  common/pkg/libartifact/store/reference_test.go
  common/pkg/libartifact/store/store.go
  common/pkg/libartifact/store/store_reference.go
  common/pkg/libartifact/store/store_reference_test.go
  common/pkg/libartifact/types/errors.go
  go.work.sum
Due: Common: Test

TEST: Try relying on GitHub for the merge base
  .github/workflows/validate.yml
Due: none

common: Add libexec paths to default helper binary path dirs
  common/docs/containers.conf.5.md
  common/pkg/config/config_linux.go
Due: Common: Test

common: add support for `default_host_ips` in containers.conf
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/testdata/containers_default.conf
Due: Common: Test

Fix secretsdb cache consistency on errors and improve memory efficiency
  common/pkg/secrets/secrets.go
  common/pkg/secrets/secretsdb.go
  common/pkg/secrets/secretsdb_test.go
Due: Common: Test

validate: refactor git-validate
  .github/workflows/validate.yml
  Makefile
Due: none

secrets: enhance logging for shell driver and store operations
  common/pkg/secrets/secrets.go
  common/pkg/secrets/shelldriver/shelldriver.go
Due: Common: Test

fix(secrets): replace using correct driver, safe replace for new secrets
  common/pkg/secrets/secrets.go
  common/pkg/secrets/secrets_test.go
Due: Common: Test

Check whether algorithm is available
  image/oci/layout/oci_src.go
Due: Image: Validate, Common: Test

added signature support for oci layout
  image/oci/layout/fixtures/delete_image_with_signature/blobs/sha256/2558a560cb1cd192d12862352621630bcfdb5cef147fa445f2e630e49f7a9910
  image/oci/layout/fixtures/delete_image_with_signature/blobs/sha256/44353f0bf0dd9507c2e9daea7ad4f8a5f0e23bc16068d612227507e54599c18a
  image/oci/layout/fixtures/delete_image_with_signature/blobs/sha256/6f06dd0e26608013eff30bb1e951cda7de3fdd9e78e907470e0dd5c0ed25e273
  image/oci/layout/fixtures/delete_image_with_signature/blobs/sha256/bfd7a7b14cfc6349bfbc291769692e4669470de97718d2ffab83273ea57474cb
  image/oci/layout/fixtures/delete_image_with_signature/index.json
  image/oci/layout/fixtures/delete_image_with_signature/oci-layout
  image/oci/layout/oci_delete.go
  image/oci/layout/oci_delete_test.go
  image/oci/layout/oci_dest.go
  image/oci/layout/oci_dest_test.go
  image/oci/layout/oci_src.go
  image/oci/layout/oci_transport.go
Due: Image: Validate, Common: Test

Check pre-existing signatures
  image/oci/layout/oci_dest.go
  image/oci/layout/oci_transport.go
Due: Image: Validate, Common: Test

Don't raise error when signature is not found
  image/oci/layout/oci_src.go
Due: Image: Validate, Common: Test

Use getBlob
  image/oci/layout/oci_src.go
Due: Image: Validate, Common: Test

Delete old signature manifest config
  image/oci/layout/oci_dest.go
Due: Image: Validate, Common: Test

Fix lint error
  image/oci/layout/oci_transport.go
Due: Image: Validate, Common: Test

Simplify signature retrieval by refactoring to use getOCIDescriptorContents
  image/oci/layout/oci_src.go
Due: Image: Validate, Common: Test

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**
