Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage_fedora_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

storage_debian_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

Image: Cross:
  alias: image_cross
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test:
  alias: image_test
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test_skopeo:
  alias: image_test_skopeo
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    GOSRC: ${CIRRUS_WORKING_DIR}
    GOPATH: /var/tmp/go
    SKOPEO_CI_BRANCH: main
    SCRIPT_BASE: ./contrib/cirrus
  ...

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.24
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.24
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: '# The git diff complains about broken symlinks in some test files.
  
    # We therefore filter-out these files, since they are not changed by
  
    # gofix anyway.
  
  ...

Use options.Digest for the config digest in docker-archive: and docker-daemon:
  image/docker/archive/src.go
  image/docker/daemon/daemon_src.go
  image/docker/internal/tarfile/src.go
  image/docker/internal/tarfile/src_test.go
  image/docker/tarfile/src.go
Due: Image: Cross, image_test, image_test_skopeo

image/directory: refactor blob tests to use function-based approach
  image/directory/directory_dest_test.go
Due: Image: Cross, image_test, image_test_skopeo

image/directory: store manifest with digest algorithm prefix
  image/directory/directory_dest.go
  image/directory/directory_dest_test.go
  image/directory/directory_transport.go
  image/directory/directory_transport_test.go
Due: Image: Cross, image_test, image_test_skopeo

image/directory: store signature with digest algorithm prefix
  image/directory/directory_dest.go
  image/directory/directory_dest_test.go
  image/directory/directory_transport.go
  image/directory/directory_transport_test.go
Due: Image: Cross, image_test, image_test_skopeo

Use octal literal syntax for file mode in tar header
  common/pkg/libartifact/store/store.go
Due: none

WIP: Sketch PutBlob... digest choice in c/image/copy + transports
  image/copy/blob.go
  image/directory/directory_dest.go
  image/docker/docker_image_dest.go
  image/internal/imagedestination/impl/compat.go
  image/internal/imagedestination/wrapper.go
  image/internal/private/private.go
  image/pkg/blobcache/dest.go
Due: Image: Cross, image_test, image_test_skopeo

Fix typo in error variable name: ErrArtifactUnamed -> ErrArtifactUnnamed
  common/pkg/libartifact/artifact.go
  common/pkg/libartifact/types/errors.go
Due: none

Remove network-cmd-path config
  common/docs/containers.conf.5.md
  common/libnetwork/slirp4netns/slirp4netns.go
  common/pkg/config/config.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
Due: none

storage: update store-locks.bt to figure out code path
  storage/contrib/scripts/store-locks.bt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

common: fix new prealloc linter issues
  common/libimage/filters_test.go
  common/libimage/load_test.go
  common/libimage/manifests/manifests_test.go
  common/libimage/push_test.go
  common/libimage/runtime_test.go
  common/pkg/cgroups/cgroups_linux_test.go
  common/pkg/cgroups/systemd_linux.go
  common/pkg/systemd/systemd_linux.go
Due: none

Set the MIME type on created OCI indices/manifests
  image/oci/layout/oci_dest.go
  image/tarball/tarball_src.go
Due: Image: Cross, image_test, image_test_skopeo

Add unit tests for artifact store
  common/pkg/libartifact/store/store.go
  common/pkg/libartifact/store/store_test.go
  go.work.sum
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Add DockerProxy field for dynamic proxy configuration
  image/docker/docker_client.go
  image/types/types.go
Due: Image: Cross, image_test, image_test_skopeo

Volume options - allow nocreate option
  common/pkg/parse/parse.go
Due: none

oci/archive: Delete temporary directory on error
  image/oci/archive/oci_transport.go
Due: Image: Cross, image_test, image_test_skopeo

Correctly handle nil SystemContext in BlobCache.NewImageSource
  image/pkg/blobcache/src.go
Due: Image: Cross, image_test, image_test_skopeo

Add NewImageSourceWithOptions
  image/directory/directory_transport.go
  image/directory/directory_transport_test.go
  image/docker/archive/src.go
  image/docker/archive/transport.go
  image/docker/archive/transport_test.go
  image/docker/daemon/daemon_src.go
  image/docker/daemon/daemon_transport.go
  image/docker/daemon/daemon_transport_test.go
  image/docker/docker_image.go
  image/docker/docker_image_src.go
  image/docker/docker_transport.go
  image/docker/docker_transport_test.go
  image/internal/imagereference/impl/compat.go
  image/internal/private/private.go
  image/oci/archive/oci_src.go
  image/oci/archive/oci_transport.go
  image/oci/archive/oci_transport_test.go
  image/oci/layout/oci_src.go
  image/oci/layout/oci_transport.go
  image/oci/layout/oci_transport_test.go
  image/openshift/openshift_src.go
  image/openshift/openshift_transport.go
  image/openshift/openshift_transport_test.go
  image/pkg/blobcache/blobcache_test.go
  image/pkg/blobcache/src.go
  image/sif/src.go
  image/sif/transport.go
  image/sif/transport_test.go
  image/storage/storage_image.go
  image/storage/storage_reference.go
  image/storage/storage_reference_test.go
  image/storage/storage_src.go
  image/tarball/tarball_reference.go
  image/tarball/tarball_reference_test.go
  image/tarball/tarball_src.go
Due: Image: Cross, image_test, image_test_skopeo

Add imagesource.NewImageSource
  image/internal/imagesource/wrapper.go
Due: Image: Cross, image_test, image_test_skopeo

Forward NewImageSourceOptions in pkg/blobcache
  image/pkg/blobcache/src.go
Due: Image: Cross, image_test, image_test_skopeo

Use DigestOptions when creating ImageSource in c/image/copy
  image/copy/copy.go
  image/copy/single.go
  image/internal/image/sourced.go
Due: Image: Cross, image_test, image_test_skopeo

Implement digest choice in tarball:
  image/tarball/tarball_reference.go
  image/tarball/tarball_src.go
Due: Image: Cross, image_test, image_test_skopeo

Implement digest choice in sif:
  image/sif/src.go
Due: Image: Cross, image_test, image_test_skopeo

fix debug log for #579
  image/copy/single.go
Due: Image: Cross, image_test, image_test_skopeo

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
