Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage_fedora_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

storage_debian_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

Storage: Lint:
  alias: storage_lint
  env:
    CIRRUS_WORKING_DIR: /go/src/github.com/containers/storage
  container:
    image: golang
  modules_cache:
    fingerprint_script: cat storage/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'apt-get update
  
    apt-get install -y libbtrfs-dev libsubid-dev
  
    '
  ...

Image: Validate:
  alias: image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${DEBIAN_CACHE_IMAGE_NAME}
  env:
    HOME: /root
  script: 'cd image
  
    git remote update
  
    make tools
  
    # TODO: Enable once we are done with monorepo tests.
  
  ...

Common: Test:
  alias: common_testing
  container:
    image: ${FEDORA_CONTAINER_FQIN}
  modules_cache:
    fingerprint_script: cat common/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'cd common
  
    make vendor
  
    '
  test_script: 'cd common
  
    hack/tree_status.sh
  
    make build
  
    make build-cross
  
    make test
  
    '

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: 'cd storage
  
    git diff --diff-filter=M --exit-code
  
    '

Storage: codespell:
  alias: storage_codespell
  container:
    image: python
  build_script: pip install codespell
  test_script: 'cd storage
  
    codespell
  
    '

Add getManifestDescriptor tests for the new code path.
  image/oci/layout/fixtures/signature_multiple_images/index.json
  image/oci/layout/fixtures/signature_only_multiple_signatures/index.json
  image/oci/layout/fixtures/signature_only_single_signature/index.json
  image/oci/layout/fixtures/signature_single_image/index.json
  image/oci/layout/oci_transport_test.go
Due: Image: Validate, Common: Test

Add the same comment as appendSignaturesFromSigstoreAttachments in GetSignaturesWithFormat
  image/oci/layout/oci_src.go
Due: Image: Validate, Common: Test

Refactor getOCIDescriptorContents to use digest.Digest parameter
  image/oci/layout/oci_dest.go
  image/oci/layout/oci_transport.go
Due: Image: Validate, Common: Test

Fix oci delete test
  image/oci/layout/fixtures/delete_image_with_signature/blobs/sha256/0c8b263642b51b5c1dc40fe402ae2e97119c6007b6e52146419985ec1f0092dc
  image/oci/layout/fixtures/delete_image_with_signature/blobs/sha256/2558a560cb1cd192d12862352621630bcfdb5cef147fa445f2e630e49f7a9910
  image/oci/layout/fixtures/delete_image_with_signature/blobs/sha256/a527179158cd5cebc11c152b8637b47ce96c838ba2aa0de66d14f45cedc11423
  image/oci/layout/fixtures/delete_image_with_signature/blobs/sha256/bfd7a7b14cfc6349bfbc291769692e4669470de97718d2ffab83273ea57474cb
  image/oci/layout/fixtures/delete_image_with_signature/blobs/sha256/e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
  image/oci/layout/fixtures/delete_image_with_signature/blobs/sha256/eaa95f3cfaac07c8a5153eb77c933269586ad0226c83405776be08547e4d2a18
  image/oci/layout/fixtures/delete_image_with_signature/index.json
  image/oci/layout/fixtures/delete_image_with_signature/oci-layout
  image/oci/layout/oci_delete.go
  image/oci/layout/oci_delete_test.go
Due: Image: Validate, Common: Test

Fix lint error
  image/oci/layout/oci_transport.go
Due: Image: Validate, Common: Test

Simplify signature retrieval by refactoring to use getOCIDescriptorContents
  image/oci/layout/oci_src.go
Due: Image: Validate, Common: Test

Remove pointer usage for digest in getDescriptor.
  image/oci/layout/oci_dest.go
Due: Image: Validate, Common: Test

Improve sigstore tag validation with strings.CutSuffix
  image/oci/layout/oci_transport.go
Due: Image: Validate, Common: Test

Fix oci dest test
  image/oci/layout/fixtures/single_image_layout/blobs/sha256/0c8b263642b51b5c1dc40fe402ae2e97119c6007b6e52146419985ec1f0092dc
  image/oci/layout/fixtures/single_image_layout/blobs/sha256/a527179158cd5cebc11c152b8637b47ce96c838ba2aa0de66d14f45cedc11423
  image/oci/layout/fixtures/single_image_layout/blobs/sha256/eaa95f3cfaac07c8a5153eb77c933269586ad0226c83405776be08547e4d2a18
  image/oci/layout/fixtures/single_image_layout/index.json
  image/oci/layout/fixtures/single_image_layout/oci-layout
  image/oci/layout/oci_dest_test.go
Due: Image: Validate, Common: Test

Move `manifestDigest` assignment in `ociImageDestination`
  image/oci/layout/oci_dest.go
Due: Image: Validate, Common: Test

Don't store old signature manifest
  image/oci/layout/oci_dest.go
  image/oci/layout/oci_dest_test.go
Due: Image: Validate, Common: Test

Delete old signature manifest config
  image/oci/layout/oci_dest.go
Due: Image: Validate, Common: Test

Refactor `TestPutSignaturesWithFormat` to use table-driven tests for improved readability and maintainability.
  image/oci/layout/fixtures/single_image_layout/blobs/sha256/0c8b263642b51b5c1dc40fe402ae2e97119c6007b6e52146419985ec1f0092dc
  image/oci/layout/fixtures/single_image_layout/blobs/sha256/a527179158cd5cebc11c152b8637b47ce96c838ba2aa0de66d14f45cedc11423
  image/oci/layout/fixtures/single_image_layout/blobs/sha256/eaa95f3cfaac07c8a5153eb77c933269586ad0226c83405776be08547e4d2a18
  image/oci/layout/fixtures/single_image_layout/index.json
  image/oci/layout/fixtures/single_image_layout/oci-layout
  image/oci/layout/oci_dest_test.go
Due: Image: Validate, Common: Test

Ignore signature when getManifestDescriptor
  image/oci/layout/oci_delete.go
  image/oci/layout/oci_transport.go
Due: Image: Validate, Common: Test

Refactor blob deletion logic
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/06047b0580a020bb2d90af148a0d76459d390fea17f70e5af3c5833321d1939c
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/44353f0bf0dd9507c2e9daea7ad4f8a5f0e23bc16068d612227507e54599c18a
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/557ac7d133b7770216a8101268640edf4e88beab1b4e1e1bfc9b1891a1cab861
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/6bc6d9a506e2c6452307700aa79e5a8331095c422999387f9d52351009fcd801
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/6f06dd0e26608013eff30bb1e951cda7de3fdd9e78e907470e0dd5c0ed25e273
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/913cf3a39d377faf89ed388ad913a318a390488c9f34c46e43424795cdabffe8
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/93cbd11a4f41467a0409b975499ae711bc6f8222de38d9f1b5a4097583195ad5
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/a2f798327b3f25e3eff54badcb769953de235e62e3e32051d57a5e66246de4a1
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/aab808b283c3f654d84358a40ce8766ecd552249305141de88f0ca61f3d1368f
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/d1fd915a475c7d56aa31bc67aef503b48ad51b32248511326474eed59f2fa38c
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/e19729d5a968c71b4b691d60f4a6f85f93c303bb88635dcfef36e23b76cb7b3a
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/blobs/sha256/f6d60fd529b234d3e28837e15294d935f55da58ce57c4f9218cad38d0be82ce3
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/index.json
  image/oci/layout/fixtures/delete_image_index_with_multiple_signatures/oci-layout
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/blobs/sha256/44353f0bf0dd9507c2e9daea7ad4f8a5f0e23bc16068d612227507e54599c18a
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/blobs/sha256/557ac7d133b7770216a8101268640edf4e88beab1b4e1e1bfc9b1891a1cab861
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/blobs/sha256/6f06dd0e26608013eff30bb1e951cda7de3fdd9e78e907470e0dd5c0ed25e273
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/blobs/sha256/913cf3a39d377faf89ed388ad913a318a390488c9f34c46e43424795cdabffe8
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/blobs/sha256/93cbd11a4f41467a0409b975499ae711bc6f8222de38d9f1b5a4097583195ad5
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/blobs/sha256/a2f798327b3f25e3eff54badcb769953de235e62e3e32051d57a5e66246de4a1
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/blobs/sha256/aab808b283c3f654d84358a40ce8766ecd552249305141de88f0ca61f3d1368f
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/blobs/sha256/e19729d5a968c71b4b691d60f4a6f85f93c303bb88635dcfef36e23b76cb7b3a
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/blobs/sha256/e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/blobs/sha256/f6d60fd529b234d3e28837e15294d935f55da58ce57c4f9218cad38d0be82ce3
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/index.json
  image/oci/layout/fixtures/delete_image_multiple_images_with_single_signature/oci-layout
  image/oci/layout/oci_delete.go
  image/oci/layout/oci_delete_test.go
Due: Image: Validate, Common: Test

PolicyContext: add new `SetRejectInsecure` method
  image/signature/policy_eval.go
  image/signature/policy_eval_baselayer.go
  image/signature/policy_eval_signedby.go
  image/signature/policy_eval_sigstore.go
  image/signature/policy_eval_simple.go
  image/signature/policy_eval_test.go
Due: Image: Validate, Common: Test

storage: avoid layer lookup in applyDiffWithOptions()
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/internal/tempdir: add StageAddition()
  storage/internal/tempdir/tempdir.go
  storage/internal/tempdir/tempdir_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: avoid layer lookup in applyDiffFromStagingDirectory()
  storage/layers.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: simplify ApplyDiff() in overlay driver
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

[sha512]: image: enable sha512 support
  image/copy/digesting_reader_test.go
  image/copy/single.go
  image/copy/single_test.go
  image/directory/directory_dest.go
  image/docker/docker_image_dest.go
  image/internal/image/docker_schema1.go
  image/internal/image/docker_schema1_test.go
  image/internal/image/docker_schema2.go
  image/internal/image/oci.go
  image/internal/manifest/manifest.go
  image/internal/manifest/manifest_test.go
  image/internal/putblobdigest/put_blob_digest.go
  image/internal/putblobdigest/put_blob_digest_test.go
  image/internal/streamdigest/stream_digest.go
  image/oci/layout/oci_dest.go
  image/pkg/blobcache/dest.go
  image/pkg/digestvalidation/digest_validation.go
  image/pkg/digestvalidation/digest_validation_test.go
  image/storage/storage_dest.go
  image/storage/storage_dest_test.go
  image/storage/storage_reference.go
  image/storage/storage_transport.go
Due: Image: Validate, Common: Test

[sha512]: common: add scalable digest utilities and update libimage
  common/libimage/filters.go
  common/libimage/filters_test.go
  common/libimage/image.go
  common/libimage/import.go
  common/libimage/pull.go
  common/libimage/runtime.go
  common/pkg/digestutils/digestutils.go
  common/pkg/digestutils/digestutils_test.go
Due: Common: Test

common/libimage/manifests.list.Add(): add from lists without images
  common/libimage/manifest_list.go
  common/libimage/manifest_list_test.go
  common/libimage/manifests/manifests.go
Due: Common: Test

common: remove Cgroups v1 support
  common/pkg/cgroups/cgroups_linux.go
Due: Common: Test

storage/internal/tempdir: add StageFileAddition()
  storage/internal/tempdir/tempdir.go
  storage/internal/tempdir/tempdir_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/internal/tempdir: add StageDirectoryAddition()
  storage/internal/tempdir/tempdir.go
  storage/internal/tempdir/tempdir_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: rework applyDiffWithOptions()
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

overlay: add StartStagingDiffToApply()
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/drivers/overlay/overlay_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: when creating layer apply diff unlocked
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: fix tar split writer to actually write the full file
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

common: no slirp for podman6
  common/libnetwork/slirp4netns/const.go
  common/libnetwork/slirp4netns/const_linux.go
  common/libnetwork/slirp4netns/slirp4netns.go
Due: Common: Test

common: remove slirp4netns references
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/pkg/systemd/systemd_linux.go
Due: Common: Test

common: remove slirp from docs, configs and tests
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/config_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/testdata/containers_default.conf
Due: Common: Test

common: remove slirp from pkg/ssh
  common/pkg/ssh/types.go
Due: Common: Test

rpm: remove slirp4netns weak dependency
  common/rpm/containers-common.spec
Due: Common: Test

common: remove Cgroups v1 support
  common/pkg/cgroups/blkio_linux.go
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/cgroups_unsupported.go
  common/pkg/cgroups/cpu_linux.go
  common/pkg/cgroups/cpuset_linux.go
  common/pkg/cgroups/memory_linux.go
  common/pkg/cgroups/pids_linux.go
  common/pkg/cgroups/systemd_linux.go
  common/pkg/cgroups/utils_linux.go
  common/pkg/config/default.go
  common/pkg/config/systemd.go
  common/pkg/sysinfo/sysinfo_linux.go
  common/pkg/systemd/systemd_linux.go
Due: Common: Test

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**
