Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

Fix "uses unkeyed fields" warnings
  storage/drivers/chown_windows.go
  storage/pkg/archive/archive_windows.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Fix QF1012
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Add image/pkg/cli/basetls
  image/docs/containers-tls-details.yaml.5.md
  image/pkg/cli/basetls/basetls.go
  image/pkg/cli/basetls/basetls_test.go
  image/pkg/cli/basetls/tlsdetails/testdata/all-fields.yaml
  image/pkg/cli/basetls/tlsdetails/testdata/empty-fields.yaml
  image/pkg/cli/basetls/tlsdetails/testdata/empty.yaml
  image/pkg/cli/basetls/tlsdetails/testdata/invalid-values.yaml
  image/pkg/cli/basetls/tlsdetails/tlsdetails.go
  image/pkg/cli/basetls/tlsdetails/tlsdetails_test.go
Due: Image: Cross, image_test, image_test_skopeo

Remove an obsolete comment
  image/openshift/openshift.go
Due: Image: Cross, image_test, image_test_skopeo

Update code references after the module rename
  image/docker/daemon/client.go
Due: Image: Cross, image_test, image_test_skopeo

Remove the testDir function
  image/docker/daemon/client_test.go
Due: Image: Cross, image_test, image_test_skopeo

Delete the temporary file on error in download.FromURL
  common/pkg/download/download.go
Due: none

Add SystemContext.BaseTLSConfig
  image/types/types.go
Due: Image: Cross, image_test, image_test_skopeo

Implement BaseTLS in c/image/docker
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

Implement BaseTLSConfig in c/image/oci/layout
  image/oci/layout/oci_src.go
Due: Image: Cross, image_test, image_test_skopeo

Implement BaseTLSConfig for image/openshift
  image/openshift/openshift-copies.go
  image/openshift/openshift.go
  image/openshift/openshift_dest.go
  image/openshift/openshift_src.go
Due: Image: Cross, image_test, image_test_skopeo

Consolidate TestTlsConfig into table-driven tests
  image/docker/daemon/client_test.go
Due: Image: Cross, image_test, image_test_skopeo

Expand TestTlsConfig
  image/docker/daemon/client_test.go
  image/docker/daemon/testdata/certs-no-ca/cert.pem
  image/docker/daemon/testdata/certs-no-ca/key.pem
  image/docker/daemon/testdata/certs-no-cert/ca.pem
  image/docker/daemon/testdata/certs-no-cert/key.pem
  image/docker/daemon/testdata/certs-no-key/ca.pem
  image/docker/daemon/testdata/certs-no-key/cert.pem
  image/docker/daemon/testdata/certs-unreadable-ca/ca.pem
  image/docker/daemon/testdata/certs-unreadable-ca/cert.pem
  image/docker/daemon/testdata/certs-unreadable-ca/key.pem
  image/docker/daemon/testdata/certs-unreadable-cert/ca.pem
  image/docker/daemon/testdata/certs-unreadable-cert/cert.pem
  image/docker/daemon/testdata/certs-unreadable-cert/key.pem
  image/docker/daemon/testdata/certs-unreadable-key/ca.pem
  image/docker/daemon/testdata/certs-unreadable-key/cert.pem
  image/docker/daemon/testdata/certs-unreadable-key/key.pem
Due: Image: Cross, image_test, image_test_skopeo

Implement BaseTLSConfig for image/docker/daemon
  image/docker/daemon/client.go
  image/docker/daemon/client_test.go
Due: Image: Cross, image_test, image_test_skopeo

INCOMPLETE Implement BaseTLS in Rekor signing
  image/signature/sigstore/rekor/rekor.go
  image/signature/sigstore/rekor/rekor_test.go
Due: Image: Cross, image_test, image_test_skopeo

API change: Use a context, and a private client, in download.FromURL
  common/libimage/import.go
  common/pkg/download/download.go
Due: none

API change: Add an Options parameter to download.FromURL
  common/libimage/import.go
  common/pkg/download/download.go
Due: none

Fix Deprecated: comments on functions which don't accept SystemContext
  image/docker/tarfile/dest.go
  image/docker/tarfile/src.go
  image/oci/archive/oci_src.go
Due: Image: Cross, image_test, image_test_skopeo

Remove CopyOptions.SystemContext
  common/libimage/copier.go
  common/libimage/push_test.go
  common/libimage/runtime_test.go
Due: none

Pass Runtime.systemContext whenever possible
  common/libimage/image.go
  common/libimage/manifest_list.go
  common/libimage/pull.go
Due: none

Fix "impossible condition" warnings detected by recent gopls
  common/pkg/secrets/secretsdb.go
  image/storage/storage_test.go
Due: Image: Cross, image_test, image_test_skopeo

Fix "unused value" warnings detected by gopls
  storage/drivers/overlay/overlay.go
  storage/pkg/archive/archive.go
  storage/pkg/archive/archive_bsd.go
  storage/pkg/archive/archive_other.go
  storage/pkg/archive/archive_test.go
  storage/pkg/archive/archive_unix.go
  storage/pkg/archive/archive_unix_test.go
  storage/pkg/archive/archive_windows.go
  storage/pkg/archive/changes_windows.go
  storage/pkg/archive/changes_windows_test.go
  storage/pkg/archive/fflags_unsupported.go
  storage/pkg/system/chtimes_unix.go
  storage/pkg/system/rm_common.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Fix a "tautological condition" warning
  storage/pkg/system/path_windows_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix
