Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage_fedora_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

storage_debian_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

Storage: Lint:
  alias: storage_lint
  env:
    CIRRUS_WORKING_DIR: /go/src/github.com/containers/storage
  container:
    image: golang
  modules_cache:
    fingerprint_script: cat storage/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'apt-get update
  
    apt-get install -y libbtrfs-dev libsubid-dev
  
    '
  ...

Image: Validate:
  alias: image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${DEBIAN_CACHE_IMAGE_NAME}
  env:
    HOME: /root
  script: 'cd image
  
    git remote update
  
    make tools
  
    # TODO: Enable once we are done with monorepo tests.
  
  ...

Common: Test:
  alias: common_testing
  container:
    image: ${FEDORA_CONTAINER_FQIN}
  modules_cache:
    fingerprint_script: cat common/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'cd common
  
    make vendor
  
    '
  test_script: 'cd common
  
    hack/tree_status.sh
  
    make build
  
    make build-cross
  
    make test
  
    '

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: 'cd storage
  
    git diff --diff-filter=M --exit-code
  
    '

Storage: codespell:
  alias: storage_codespell
  container:
    image: python
  build_script: pip install codespell
  test_script: 'cd storage
  
    codespell
  
    '

Consolidate overlay's options handling for read-only layers
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Parse the BTRFS storage options earlier
  storage/drivers/btrfs/btrfs.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: always store caller's IDMappingOptions in CreateContainer
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: fix UID/GID map handling for shifting containers
  storage/layers.go
  storage/store_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: fix UID/GID map handling for shifting layers
  storage/layers.go
  storage/store_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

overlay: fix incorrect diff folder permission with userns and fuse
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Use unified configfile parser for policy.json
  common/pkg/config/config.go
  common/pkg/config/config_bsd.go
  common/pkg/config/config_darwin.go
  common/pkg/config/config_linux.go
  common/pkg/config/config_windows.go
  common/pkg/config/default.go
  image/docs/containers-policy.json.5.md
  image/signature/policy_config.go
  image/signature/policy_config_test.go
  image/signature/policy_paths_common.go
  image/signature/policy_paths_freebsd.go
  storage/pkg/configfile/parse.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Improve the TestDefaultPolicy tests.
  image/signature/policy_config_test.go
Due: Image: Validate, Common: Test

Document DoNotLoadDropInFiles ignoring _OVERRIDE variables
  image/signature/policy_config_test.go
  storage/pkg/configfile/parse.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Unify the DefaultPolicy tests into single test.
  image/signature/policy_config_test.go
Due: Image: Validate, Common: Test

Single test for both Read and ReadWithPaths.
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Add test for policy.json readall error
  image/signature/policy_config_test.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Add test for root + SignaturePolicyPath.
  image/signature/policy_config_test.go
Due: Image: Validate, Common: Test

Fix formatting and use CONTAINERS_POLICY_JSON.
  image/docs/containers-policy.json.5.md
  image/signature/policy_config.go
  image/signature/policy_config_test.go
Due: Image: Validate, Common: Test

Remove useless policy_paths_*.go files.
  image/signature/policy_paths_common.go
  image/signature/policy_paths_freebsd.go
Due: Image: Validate, Common: Test

include searched paths in policy.json lookup errors
  image/signature/policy_config.go
  image/signature/policy_config_test.go
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

return error in Read() if ErrorIfNotFound is true
  image/signature/policy_config.go
  image/signature/policy_config_test.go
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Make `blobcache` compression format aware
  image/pkg/blobcache/blobcache.go
  image/pkg/blobcache/blobcache_test.go
  image/pkg/blobcache/dest.go
  image/pkg/blobcache/src.go
Due: Image: Validate, Common: Test

chunked: add zstd:chunked sentinel constants and SkipMitigation function
  storage/pkg/chunked/storage_linux.go
  storage/pkg/chunked/storage_linux_test.go
  storage/pkg/chunked/storage_unsupported.go
  storage/pkg/chunked/toc/toc.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

manifest: add zstd:chunked sentinel annotation support and instance selection
  image/internal/manifest/oci_index.go
Due: Image: Validate, Common: Test

overlay: handle EBUSY from rename in Put() when mount is shared
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

copy: detect zstd:chunked sentinel layer and skip full-digest mitigation during pull
  image/copy/single.go
  image/copy/single_test.go
  image/storage/storage_dest.go
  image/storage/storage_src.go
Due: Image: Validate, Common: Test

copy: create zstd:chunked sentinel variants when pushing images
  image/copy/copy.go
  image/copy/multiple.go
Due: Image: Validate, Common: Test

storage: Document force_mask UID 0 mapping requirement
  storage/docs/containers-storage.conf.5.md
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Update storage/docs/containers-storage.conf.5.md
  storage/docs/containers-storage.conf.5.md
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

common/pkg/ssh: remove slirp
  common/pkg/ssh/types.go
Due: Common: Test

common/pkg/config: remove slirp
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/containers.conf
  common/pkg/config/testdata/containers_default.conf
Due: Common: Test

common/libnetwork: remove slirp4netns backend, keep RLK helpers
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/slirp4netns/const.go
  common/libnetwork/slirp4netns/const_linux.go
  common/libnetwork/slirp4netns/slirp4netns.go
  common/pkg/systemd/systemd_linux.go
Due: Common: Test

secrets: make pass driver GPG invocation configurable
  common/pkg/secrets/passdriver/passdriver.go
  common/pkg/secrets/passdriver/passdriver_test.go
Due: Common: Test

secrets: run GPG with rootless user identity
  common/pkg/secrets/passdriver/gpg_linux.go
  common/pkg/secrets/passdriver/gpg_linux_test.go
  common/pkg/secrets/passdriver/gpg_unsupported.go
  common/pkg/secrets/passdriver/passdriver.go
Due: Common: Test

image: preserve layer annotations across compression
  image/copy/compression.go
  image/copy/compression_test.go
Due: Image: Validate, Common: Test

image: support Sigstore bundle verification
  go.work.sum
  image/docker/docker_client.go
  image/docker/docker_client_referrers.go
  image/docker/docker_client_referrers_test.go
  image/docker/docker_image_src.go
  image/go.mod
  image/go.sum
  image/internal/signature/sigstore.go
  image/signature/internal/bundle.go
  image/signature/internal/bundle_test.go
  image/signature/internal/intoto.go
  image/signature/internal/intoto_test.go
  image/signature/internal/sigstore_payload.go
  image/signature/policy_eval_sigstore.go
  image/signature/policy_eval_sigstore_bundle.go
  image/signature/policy_eval_sigstore_bundle_test.go
  vendor/modules.txt
Due: Image: Validate, Common: Test

add top level LICENSE file
  LICENSE
Due: none

storage: Remove unused nolint directive
  storage/lockfile_compat.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

ci: set storage testflags in ci.yml
  .github/workflows/ci.yml
  .github/workflows/lima.yml
  hack/ci/ci.sh
  hack/ci/runner.sh
Due: none

OCPNODE-2018: Add OCI Referrers API support for signature read and write
  image/docker/docker_client.go
  image/docker/docker_client_test.go
  image/docker/docker_image_dest.go
  image/docker/docker_image_dest_test.go
  image/docker/docker_image_src.go
  image/docker/docker_image_src_test.go
  image/docker/registries_d.go
  image/docker/registries_d_test.go
  image/docs/containers-registries.d.5.md
  image/docs/signature-protocols.md
Due: Image: Validate, Common: Test

link org wide CONTRIBUTING.md and SECURITY.md
  CONTRIBUTING.md
  CONTRIBUTING_GO.md
  CONTRIBUTING_RUST.md
  SECURITY.md
Due: none

vendor: bump golang.org/x/crypto to v0.56.0
  common/go.mod
  common/go.sum
  go.work
  image/go.mod
  image/go.sum
  storage/go.mod
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_riscv64.s
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/agent/server.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/connection.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/knownhosts/knownhosts.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/ssh_gss.go
  vendor/golang.org/x/crypto/ssh/streamlocal.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/golang.org/x/net/idna/idna.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Run (golangci-lint fmt) with golangci-lint 2.13
  common/libimage/oci.go
  common/pkg/config/config.go
  common/pkg/config/config_remote_test.go
  common/pkg/config/config_windows_test.go
  common/pkg/sysinfo/sysinfo_solaris.go
  image/signature/policy_eval_test.go
  image/storage/storage_reference_test.go
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**
