Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

Remove CopyOptions.SystemContext
  common/libimage/copier.go
  common/libimage/push_test.go
  common/libimage/runtime_test.go
Due: none

Pass Runtime.systemContext whenever possible
  common/libimage/image.go
  common/libimage/manifest_list.go
  common/libimage/pull.go
Due: none

Fix formatting of AGENTS.md
  image/AGENTS.md
Due: Image: Cross, image_test, image_test_skopeo

Update to Go 1.26
  common/go.mod
  go.work
  image/go.mod
  storage/go.mod
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use new(value)
  common/internal/attributedstring/slice_test.go
  common/libimage/copier.go
  common/pkg/hooks/0.1.0/hook_test.go
  common/pkg/hooks/1.0.0/hook_test.go
  common/pkg/hooks/1.0.0/when_test.go
  common/pkg/hooks/exec/exec_test.go
  common/pkg/hooks/exec/runtimeconfigfilter_test.go
  common/pkg/hooks/hooks_test.go
  common/pkg/hooks/monitor_test.go
  common/pkg/hooks/read_test.go
  common/pkg/seccomp/seccomp_linux.go
  image/internal/image/docker_schema1_test.go
  image/internal/image/docker_schema2_test.go
  image/internal/image/oci_test.go
  image/internal/manifest/docker_schema2_list.go
  image/signature/internal/rekor_set_test.go
  image/signature/internal/sigstore_payload.go
  image/signature/internal/sigstore_payload_test.go
  image/signature/sigstore/rekor/rekor.go
  image/signature/simple.go
  image/signature/simple_test.go
  image/storage/storage_dest.go
  image/storage/storage_src.go
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use the typed atomic value API
  storage/pkg/chunked/filesystem_linux.go
  storage/pkg/locker/locker.go
  storage/pkg/locker/locker_test.go
  storage/pkg/lockfile/lastwrite.go
  storage/pkg/lockfile/lockfile_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use errors.AsType
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/netavark/exec.go
  common/libnetwork/pasta/pasta_linux.go
  image/copy/single.go
  image/docker/docker_client.go
  image/oci/archive/oci_src.go
  image/signature/sigstore/rekor/rekor.go
  image/storage/storage_dest.go
  storage/drivers/graphtest/graphtest_unix.go
  storage/drivers/overlay/composefs.go
  storage/pkg/chunked/compression_linux.go
  storage/pkg/chunked/storage_linux.go
  storage/pkg/idtools/idtools.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Avoid an "unused parameter" warning
  common/libnetwork/network/interface_cni_unsupported.go
Due: none

Introduce readPrimaryLayerStore
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use readContainerStore in ContainerParentOwners
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Fix locking for ErrLayerUnaccounted
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Consolidate reporting layer errors in Check
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Consolidate reporting container errors in Check
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Consolidate image error reporting in Check
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Only lookup errors to append once
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Eliminate a variable
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Stop creating a goroutine
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Simplify collecting diff headers
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Introduce CheckReport.record...Errors
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Simplify error reporting in Check further
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Move a loop-invariant value out of a loop
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

[podman-5.8] Split obtainBearerToken from ...
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

[podman-5.8] Exit early from obtainBearerToken if ...
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

[podman-5.8] Use an explicit lock for dockerClient.tokenCache ...
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

[podman-5.8] Store a pointer to a bearerToken in tokenCache
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

[podman-5.8] Move creation of bearerToken to obtainBearerToken
  image/docker/docker_client.go
  image/docker/docker_client_test.go
Due: Image: Cross, image_test, image_test_skopeo

[podman-5.8] Only obtain a bearer token once at a time
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

[podman-5.8] Bump image to v5.39.2
  image/version/version.go
Due: Image: Cross, image_test, image_test_skopeo

[podman-5.8] Bump c/image to v5.39.2 in common
  common/go.mod
  common/go.sum
Due: none

[podman-5.8] Bump c/common to v0.67.1
  common/version/version.go
Due: none

Clean up ErrLayerUnaccounted
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: remove deprecated.go
  storage/deprecated.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: remove unused PidMountInfo function
  storage/pkg/mount/mountinfo_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

rootlessnetns: fix typos in comments
  common/libnetwork/internal/rootlessnetns/netns_linux.go
Due: none
