Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage_fedora_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

storage_debian_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

Image: Cross:
  alias: image_cross
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test:
  alias: image_test
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test_skopeo:
  alias: image_test_skopeo
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    GOSRC: ${CIRRUS_WORKING_DIR}
    GOPATH: /var/tmp/go
    SKOPEO_CI_BRANCH: main
    SCRIPT_BASE: ./contrib/cirrus
  ...

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.24
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.24
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: '# The git diff complains about broken symlinks in some test files.
  
    # We therefore filter-out these files, since they are not changed by
  
    # gofix anyway.
  
  ...

Fix a lint failure with the containers_image_sequoia tag
  image/signature/internal/sequoia/sequoia.go
Due: Image: Cross, image_test, image_test_skopeo

Remove unused ioutils.HashData
  storage/pkg/ioutils/readers.go
  storage/pkg/ioutils/readers_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: improve error message on image mount from r/o store
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

tests: move _CONTAINERS_OVERLAY_DISABLE_IDMAP into individual tests
  storage/tests/helpers.bash
  storage/tests/idmaps.bats
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

tests: add e2e tests for idmapped mount shifting behavior
  storage/tests/idmaps.bats
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: remove redundant DisableShifting field
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: always store caller's IDMappingOptions in CreateContainer
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: fix UID/GID map handling for shifting layers
  storage/layers.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: use a custom LayerIDMappingOptions for LayerOptions
  storage/cmd/containers-storage/create.go
  storage/layers.go
  storage/store.go
  storage/userns.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: clarify UIDMap/GIDMap better
  storage/containers.go
  storage/layers.go
  storage/store.go
  storage/types/idmappings.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Move PestoSocketPath to ContainerNetwork interface
  common/libnetwork/internal/rootlessnetns/netns_freebsd.go
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/netavark/run.go
  common/libnetwork/types/network.go
Due: none

Document that rootless_port_forwarder requires no running containers
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/containers.conf
Due: none

rpm: update broken rootless storage.conf mount option
  common/rpm/00-storage-additional-store.conf
  common/rpm/00-storage-rootful.conf
  common/rpm/00-storage-rootless.conf
  common/rpm/00-storage.conf
  common/rpm/containers-common.spec
Due: none

Implement LUtimesNano on macOS
  storage/pkg/system/utimes_freebsd.go
  storage/pkg/system/utimes_linux.go
  storage/pkg/system/utimes_unix.go
  storage/pkg/system/utimes_unix_test.go
  storage/pkg/system/utimes_unsupported.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

common: abort load on ENOSPC and output clear error
  common/libimage/errno_unix.go
  common/libimage/errno_windows.go
  common/libimage/load.go
  storage/pkg/chrootarchive/archive_unix.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

libimage: Add methods returning bool for SearchResult "[OK]"
  common/libimage/search.go
Due: none

Update GetHostContainersInternalIP to support WSL
  common/libnetwork/etchosts/ip.go
  common/libnetwork/etchosts/ip_linux.go
  common/libnetwork/etchosts/ip_unsupported.go
Due: none

Fix lint on non-Linux
  common/libnetwork/etchosts/ip_unsupported.go
Due: none

Revert "storage: improve error message on image mount from r/o store"
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

bump common to v0.68.1
  common/version/version.go
Due: none

feat(system): add MemAvailable field to MemInfo struct
  storage/pkg/system/meminfo.go
  storage/pkg/system/meminfo_freebsd.go
  storage/pkg/system/meminfo_linux.go
  storage/pkg/system/meminfo_solaris.go
  storage/pkg/system/meminfo_unix_test.go
  storage/pkg/system/meminfo_windows.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

docker: add blob-level mirror fallback in dockerImageSource
  image/docker/docker_image_src.go
  image/docker/docker_image_src_test.go
  image/docs/containers-registries.conf.5.md
Due: Image: Cross, image_test, image_test_skopeo

Install policy.json & default.yaml in /usr/share/ instead of /etc/
  image/Makefile
Due: Image: Cross, image_test, image_test_skopeo

renovate: point config to new repo
  .github/renovate.json5
Due: none

ci: make the automation release renovate managed
  .github/workflows/lima.yml
  hack/ci/ci.sh
  hack/ci/lib.sh
  hack/ci/runner.sh
Due: none

GetBlobAt supports mirror fallback infrastructure
  image/docker/docker_image_src.go
  image/docs/containers-registries.conf.5.md
Due: Image: Cross, image_test, image_test_skopeo

Change fixtureVariants to identify the v3 fixture
  image/signature/mechanism_test.go
Due: Image: Cross, image_test, image_test_skopeo

INCOMPATIBLE: Replace golang.org/x/crypto/openpgp
  image/go.mod
  image/signature/mechanism.go
  image/signature/mechanism_openpgp.go
  image/signature/mechanism_test.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/armor/encode.go
  vendor/golang.org/x/crypto/openpgp/canonical_text.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/openpgp/errors/errors.go
  vendor/golang.org/x/crypto/openpgp/keys.go
  vendor/golang.org/x/crypto/openpgp/packet/compressed.go
  vendor/golang.org/x/crypto/openpgp/packet/config.go
  vendor/golang.org/x/crypto/openpgp/packet/encrypted_key.go
  vendor/golang.org/x/crypto/openpgp/packet/literal.go
  vendor/golang.org/x/crypto/openpgp/packet/ocfb.go
  vendor/golang.org/x/crypto/openpgp/packet/one_pass_signature.go
  vendor/golang.org/x/crypto/openpgp/packet/opaque.go
  vendor/golang.org/x/crypto/openpgp/packet/packet.go
  vendor/golang.org/x/crypto/openpgp/packet/private_key.go
  vendor/golang.org/x/crypto/openpgp/packet/public_key.go
  vendor/golang.org/x/crypto/openpgp/packet/public_key_v3.go
  vendor/golang.org/x/crypto/openpgp/packet/reader.go
  vendor/golang.org/x/crypto/openpgp/packet/signature.go
  vendor/golang.org/x/crypto/openpgp/packet/signature_v3.go
  vendor/golang.org/x/crypto/openpgp/packet/symmetric_key_encrypted.go
  vendor/golang.org/x/crypto/openpgp/packet/symmetrically_encrypted.go
  vendor/golang.org/x/crypto/openpgp/packet/userattribute.go
  vendor/golang.org/x/crypto/openpgp/packet/userid.go
  vendor/golang.org/x/crypto/openpgp/read.go
  vendor/golang.org/x/crypto/openpgp/s2k/s2k.go
  vendor/golang.org/x/crypto/openpgp/write.go
  vendor/modules.txt
Due: Image: Cross, image_test, image_test_skopeo

config: remove duplicate compat_api_enforce_docker_hub entry
  common/pkg/config/containers.conf
Due: none

storage: use -json parameter for `system_profiler SPSoftwareDataType`
  storage/pkg/parsers/kernel/kernel_darwin.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

ci: use larger runners
  .github/workflows/ci.yml
Due: none

pesto: add target address mapping to CLI args
  common/libnetwork/pasta/pesto_linux.go
  common/libnetwork/pasta/pesto_linux_test.go
Due: none

pasta: add IPv6 --map-guest-addr, --address, --gateway constants
  common/libnetwork/pasta/pasta_linux.go
  common/libnetwork/pasta/pasta_linux_test.go
Due: none

pesto: integrate port forwarding into netavark Setup/Teardown with state tracking
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/netavark/network.go
  common/libnetwork/netavark/run.go
  common/libnetwork/pasta/pesto_freebsd.go
  common/libnetwork/types/network.go
Due: none

ci: do not use custom ssh user for image tests
  hack/ci/runner.sh
Due: none

ci: update skopeo clone url to the new org
  hack/ci/runner.sh
Due: none

rpm: require passt 0^20260716.g090d739
  common/rpm/containers-common.spec
Due: none

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
