Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage_fedora_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

storage_debian_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

Storage: Lint:
  alias: storage_lint
  env:
    CIRRUS_WORKING_DIR: /go/src/github.com/containers/storage
  container:
    image: golang
  modules_cache:
    fingerprint_script: cat storage/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'apt-get update
  
    apt-get install -y libbtrfs-dev libsubid-dev
  
    '
  ...

Image: Validate:
  alias: image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${DEBIAN_CACHE_IMAGE_NAME}
  env:
    HOME: /root
  script: 'cd image
  
    git remote update
  
    make tools
  
    # TODO: Enable once we are done with monorepo tests.
  
  ...

Common: Test:
  alias: common_testing
  container:
    image: ${FEDORA_CONTAINER_FQIN}
  modules_cache:
    fingerprint_script: cat common/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'cd common
  
    make vendor
  
    '
  test_script: 'cd common
  
    hack/tree_status.sh
  
    make build
  
    make build-cross
  
    make test
  
    '

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: 'cd storage
  
    git diff --diff-filter=M --exit-code
  
    '

Storage: codespell:
  alias: storage_codespell
  container:
    image: python
  build_script: pip install codespell
  test_script: 'cd storage
  
    codespell
  
    '

more removal
  common/pkg/cgroups/cgroups_linux.go
Due: Common: Test

ErrCgroupV1Rootless removed
  common/pkg/cgroups/cgroups_linux.go
Due: Common: Test

test ci
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

feat(libartifact): Default to latest tag when pulling artifacts
  common/pkg/libartifact/artifact.go
  common/pkg/libartifact/store/store.go
Due: Common: Test

storage: simplify ApplyDiff() in overlay driver
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/internal/tempdir: add StageAddition()
  storage/internal/tempdir/tempdir.go
  storage/internal/tempdir/tempdir_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: don't buffer tar split file in memory
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

overlay: add StartStagingDiffToApply()
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/drivers/overlay/overlay_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: rework applyDiffWithOptions()
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: support staged addition of layers
  storage/layers.go
  storage/store.go
  storage/userns.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

common: remove Cgroups v1 support
  common/pkg/cgroups/blkio_linux.go
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/cgroups_unsupported.go
  common/pkg/cgroups/cpu_linux.go
  common/pkg/cgroups/cpuset_linux.go
  common/pkg/cgroups/memory_linux.go
  common/pkg/cgroups/pids_linux.go
  common/pkg/cgroups/systemd_linux.go
  common/pkg/cgroups/utils_linux.go
  common/pkg/config/default.go
  common/pkg/config/systemd.go
  common/pkg/sysinfo/sysinfo_linux.go
  common/pkg/systemd/systemd_linux.go
Due: Common: Test

common: Remove slirp for podman6
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/slirp4netns/const.go
  common/libnetwork/slirp4netns/const_linux.go
  common/libnetwork/slirp4netns/slirp4netns.go
  common/pkg/systemd/systemd_linux.go
Due: Common: Test

common: remove slirp from pkg/ssh
  common/pkg/ssh/types.go
Due: Common: Test

common: remove slirp from docs, configs and tests
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/config_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/testdata/containers_default.conf
Due: Common: Test

rpm: remove slirp4netns weak dependency
  common/rpm/containers-common.spec
Due: Common: Test

common/pkg/libnetwork: Remove CNI for podman6
  common/libnetwork/cni/README.md
  common/libnetwork/cni/cni_conversion.go
  common/libnetwork/cni/cni_exec.go
  common/libnetwork/cni/cni_suite_test.go
  common/libnetwork/cni/cni_types.go
  common/libnetwork/cni/config.go
  common/libnetwork/cni/config_freebsd.go
  common/libnetwork/cni/config_linux.go
  common/libnetwork/cni/config_test.go
  common/libnetwork/cni/network.go
  common/libnetwork/cni/run.go
  common/libnetwork/cni/run_freebsd.go
  common/libnetwork/cni/run_linux.go
  common/libnetwork/cni/run_test.go
  common/libnetwork/cni/testfiles/invalid/broken.conflist
  common/libnetwork/cni/testfiles/invalid/invalid_gateway.conflist
  common/libnetwork/cni/testfiles/invalid/invalidname.conflist
  common/libnetwork/cni/testfiles/invalid/noname.conflist
  common/libnetwork/cni/testfiles/invalid/noplugin.conflist
  common/libnetwork/cni/testfiles/invalid/samename1.conflist
  common/libnetwork/cni/testfiles/invalid/samename2.conflist
  common/libnetwork/cni/testfiles/valid/87-podman.conflist
  common/libnetwork/cni/testfiles/valid/bridge.conflist
  common/libnetwork/cni/testfiles/valid/dualstack.conflist
  common/libnetwork/cni/testfiles/valid/internal.conflist
  common/libnetwork/cni/testfiles/valid/ipam-empty.conflist
  common/libnetwork/cni/testfiles/valid/ipam-none.conflist
  common/libnetwork/cni/testfiles/valid/ipam-static.conflist
  common/libnetwork/cni/testfiles/valid/isolate.conflist
  common/libnetwork/cni/testfiles/valid/label.conflist
  common/libnetwork/cni/testfiles/valid/macvlan.conflist
  common/libnetwork/cni/testfiles/valid/macvlan_mtu.conflist
  common/libnetwork/cni/testfiles/valid/mtu.conflist
  common/libnetwork/cni/testfiles/valid/vlan.conflist
Due: Common: Test

common/Makefile: remove cni
  common/Makefile
Due: Common: Test

remove goimport: go.podman.io/common/libnetwork/cni
  common/libnetwork/network/interface.go
  common/libnetwork/network/interface_cni.go
  common/libnetwork/network/interface_cni_unsupported.go
  common/libnetwork/network/interface_linux.go
  common/libnetwork/types/const.go
Due: Common: Test

common/pkg/config: remove CNI
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/config_remote_test.go
  common/pkg/config/config_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/default.go
  common/pkg/config/testdata/containers_comment.conf
  common/pkg/config/testdata/containers_default.conf
  common/pkg/config/testdata/containers_invalid.conf
Due: Common: Test

go.mod: remove cni
  common/go.mod
Due: Common: Test

Fixed #27260 Use NewArtifactEvent by injecting dependency in NewArtifactStore
  common/pkg/libartifact/store/store.go
Due: Common: Test

feat: Add NewArtifactStoreWithEventCallback for artifact events
  common/pkg/libartifact/store/store.go
Due: Common: Test

Updated the `isSignatureAuthorAccepted` to use timeout to prevent indefinite hanging
  image/signature/policy_eval_signedby.go
Due: Image: Validate, Common: Test

reflect code reviews: make the code tidy
  common/pkg/libartifact/store/store.go
Due: Common: Test

common: add support for `default_host_ip` in containers.conf
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
Due: Common: Test

storage: don't lock container store in putLayer
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: extract layer mapping into separate function
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: extract id or name conflict check into function
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: do conflict checks before staging untar
  storage/layers.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

common/libnetwork: remove slirp4netns dir
  common/libnetwork/slirp4netns/const.go
  common/libnetwork/slirp4netns/const_linux.go
  common/libnetwork/slirp4netns/slirp4netns.go
Due: Common: Test

common/libnetwork/internal/rootlessnetns: remove slirp
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/pkg/systemd/systemd_linux.go
Due: Common: Test

common/pkg/ssh: remove slirp
  common/pkg/ssh/types.go
Due: Common: Test

common/pkg/config: remove slirp
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/config_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/testdata/containers_default.conf
Due: Common: Test

common/docs: remove slirp
  common/docs/containers.conf.5.md
Due: Common: Test

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**
