Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage_fedora_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

storage_debian_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

Storage: Lint:
  alias: storage_lint
  env:
    CIRRUS_WORKING_DIR: /go/src/github.com/containers/storage
  container:
    image: golang
  modules_cache:
    fingerprint_script: cat storage/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'apt-get update
  
    apt-get install -y libbtrfs-dev libsubid-dev
  
    '
  ...

Image: Validate:
  alias: image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${DEBIAN_CACHE_IMAGE_NAME}
  env:
    HOME: /root
  script: 'cd image
  
    git remote update
  
    make tools
  
    # TODO: Enable once we are done with monorepo tests.
  
  ...

Common: Test:
  alias: common_testing
  container:
    image: ${FEDORA_CONTAINER_FQIN}
  modules_cache:
    fingerprint_script: cat common/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'cd common
  
    make vendor
  
    '
  test_script: 'cd common
  
    hack/tree_status.sh
  
    make build
  
    make build-cross
  
    make test
  
    '

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: 'cd storage
  
    git diff --diff-filter=M --exit-code
  
    '

Storage: codespell:
  alias: storage_codespell
  container:
    image: python
  build_script: pip install codespell
  test_script: 'cd storage
  
    codespell
  
    '

storage/overlay: implement SplitFDStreamDriver
  storage/drivers/overlay/overlay_splitfdstream.go
  storage/drivers/overlay/splitfdstream_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/tests: add tests for splitfdstream
  storage/tests/splitfdstream.bats
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/cmd: new commands json-rpc-server and apply-splitfdstream
  storage/cmd/containers-storage/splitfdstream.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

squash! copy: rename instanceCopy to instanceOp*
  image/copy/multiple.go
  image/copy/multiple_test.go
Due: Image: Validate, Common: Test

copy: Add text-based progress output for non-TTY environments
  image/copy/copy.go
  image/copy/progress_nontty.go
  image/copy/progress_nontty_test.go
Due: Image: Validate, Common: Test

squash! copy: add instanceOpDelete and unify operation handling
  image/copy/multiple.go
  image/copy/multiple_test.go
Due: Image: Validate, Common: Test

squash! adds delete debug message
  image/copy/multiple.go
Due: Image: Validate, Common: Test

engine: add platform field to EngineConfig
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/config_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/testdata/containers_override.conf
Due: Common: Test

Fix extracting layers with trailing padding on some platforms
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

squash! copy: add option to strip sparse manifest lists
  image/copy/copy.go
  image/copy/multiple.go
  image/copy/multiple_test.go
Due: Image: Validate, Common: Test

common: add support for `default_host_ips` in containers.conf
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/testdata/containers_default.conf
Due: Common: Test

copy: add InstancePlatforms field for platform-based filtering
  image/copy/copy.go
  image/copy/multiple.go
  image/copy/multiple_test.go
  image/internal/set/set.go
Due: Image: Validate, Common: Test

fixup! copy: add InstancePlatforms field for platform-based filtering
  image/copy/multiple_test.go
Due: Image: Validate, Common: Test

fixup! copy: add InstancePlatforms field for platform-based filtering
  image/copy/copy.go
  image/copy/multiple.go
  image/copy/multiple_test.go
Due: Image: Validate, Common: Test

storage, overlay: drop unused return value
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage, overlay: stop using symlinks for new layers
  storage/drivers/overlay/overlay.go
  storage/drivers/overlay/randomid.go
  storage/tests/overlay-recreate.bats
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage, overlay: teach dir2 to handle subpaths like "layer-id/diff"
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

fixup! copy: add InstancePlatforms field for platform-based filtering
  image/copy/multiple.go
  image/copy/multiple_test.go
  image/internal/set/set.go
Due: Image: Validate, Common: Test

pkg/fileutils: use CopyFileRange if possible
  storage/pkg/fileutils/reflink_linux.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage, chunked: new function GenerateDumpFromTarHeaders
  storage/pkg/chunked/dump/dump.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/vendor: add github.com/cgwalters/jsonrpc-fdpass-go
  storage/go.mod
  storage/go.sum
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/.gitignore
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/Justfile
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/LICENSE
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/README.md
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/message.go
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/transport.go
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: add SplitFDStreamStore interface
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/store: add new APIs to resolve image ID
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/pkg/splitfdstream: new package
  storage/pkg/splitfdstream/server_linux.go
  storage/pkg/splitfdstream/server_unsupported.go
  storage/pkg/splitfdstream/types.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage, overlay: use openat2 instead of using procfs
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/overlay: implement SplitFDStreamDriver
  storage/drivers/overlay/overlay.go
  storage/drivers/overlay/overlay_splitfdstream.go
  storage/drivers/overlay/splitfdstream_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/archive,chrootarchive: add support for splitfdstream
  storage/pkg/archive/archive.go
  storage/pkg/archive/archive_test.go
  storage/pkg/archive/diff.go
  storage/pkg/archive/splitfdstream.go
  storage/pkg/chrootarchive/init_unix.go
  storage/pkg/chrootarchive/splitfdstream_unix.go
  storage/pkg/chrootarchive/splitfdstream_unsupported.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage, overlay: factor function out
  storage/drivers/overlay/composefs.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**
