Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

storage: check for close error on the tar split file
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: inline putLayer
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

cirrus: test against released skopeo
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Convert default_network from snake_case to camelCase
  common/libnetwork/types/network.go
Due: none

Set the MIME type on created OCI indices/manifests
  image/oci/layout/oci_dest.go
  image/tarball/tarball_src.go
Due: Image: Cross, image_test, image_test_skopeo

Add DockerProxy field for dynamic proxy configuration
  image/docker/docker_client.go
  image/types/types.go
Due: Image: Cross, image_test, image_test_skopeo

fix debug log for #579
  image/copy/single.go
Due: Image: Cross, image_test, image_test_skopeo

feat: Use 127.0.0.1 for host.containers.internal with host network
  common/libnetwork/etchosts/ip.go
Due: none

github: remove buildah downstream action
  .github/workflows/opendownstream-pr.yml
Due: none

allow lookup of artifact by digest
  common/pkg/libartifact/artifact.go
  common/pkg/libartifact/reference.go
  common/pkg/libartifact/reference_test.go
  common/pkg/libartifact/store.go
  common/pkg/libartifact/store_reference.go
  common/pkg/libartifact/store_reference_test.go
  common/pkg/libartifact/store_test.go
  common/pkg/libartifact/unparsed.go
  go.work.sum
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

fileutils: use a strings.Builder for compiling regexp
  storage/pkg/fileutils/fileutils.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

common: safer use of `filepath.EvalSymlinks()` in `findBindir()`
  common/pkg/config/config.go
  common/pkg/config/config_unix.go
  common/pkg/config/config_windows.go
  common/pkg/config/config_windows_test.go
Due: none

Try an AGENTS.md
  image/AGENTS.md
Due: Image: Cross, image_test, image_test_skopeo

Add SystemContext.BaseTLSConfig
  image/types/types.go
Due: Image: Cross, image_test, image_test_skopeo

Add c/image/pkg/cli/tlsopts.BaseTLS.
  image/pkg/cli/tlsopts/tls.go
  image/pkg/cli/tlsopts/tls_test.go
Due: Image: Cross, image_test, image_test_skopeo

Add c/image/pkg/cli/tlsopts/tlscobra
  image/go.mod
  image/go.sum
  image/pkg/cli/tlsopts/tls.go
  image/pkg/cli/tlsopts/tlscobra/cobra.go
  image/pkg/cli/tlsopts/tlscobra/cobra_test.go
Due: Image: Cross, image_test, image_test_skopeo

common,image: depend on newer storage
  common/go.mod
  common/go.sum
  image/go.mod
  image/go.sum
  vendor/modules.txt
Due: Image: Cross, image_test, image_test_skopeo

storage/pkg/configfile: add some more error wrapping
  storage/pkg/configfile/parse.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage/pkg/configfile: add more debug to ParseTOML()
  storage/pkg/configfile/parse.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

common: port pkg/config to new configfile package
  common/pkg/config/config.go
  common/pkg/config/config_bsd.go
  common/pkg/config/config_darwin.go
  common/pkg/config/config_linux.go
  common/pkg/config/config_local_test.go
  common/pkg/config/config_remote_test.go
  common/pkg/config/config_test.go
  common/pkg/config/config_unix.go
  common/pkg/config/config_windows.go
  common/pkg/config/connections.go
  common/pkg/config/connections_test.go
  common/pkg/config/modules.go
  common/pkg/config/modules_test.go
  common/pkg/config/new.go
  common/pkg/config/search_order_test.go
Due: none

common/pkg/config: fix config load error tests
  common/pkg/config/config_test.go
Due: none

digest-audit: Add special cases for nil comparisons and Validate() calls
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: Add special case handling for digest comparisons and logging
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: Inline getParentFromStack function
  digest-audit/main.go
Due: none

digest-audit: simplify test sample for complete coverage
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: Add comprehensive handling for all real-world digest usage patterns
  digest-audit/main.go
Due: none
