Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

digest-audit: Make program safer with strict error handling and warnings
  digest-audit/main.go
Due: none

digest-audit: Add support for digest.Algorithm type
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

Use ast.PreorderStack instead of manual stack maintenance
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Add String() method and output Kind before Name
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Fix struct key detection for inferred types
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: improve handling of RangeStmt, SwitchStmt, and add new cases
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: Remove TestGenerateFixtures helper test
  digest-audit/main_test.go
Due: none

digest-audit: classify pure value moves as ignored
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Distinguish type casts from function calls, use param names
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: use relative/absolute paths based on input
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Use Ignored bool field with context-specific Kind values
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Sort output numerically by file, line, column
  digest-audit/main.go
  digest-audit/sample/expected_ignored.txt
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Track ignored uses and achieve comprehensive test coverage
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_ignored.txt
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: Place kind before name in useInfo and DigestUse
  digest-audit/main.go
Due: none

Focus digest-audit on uses of values, not their construction
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: split map-key and struct-key with fail-safe logic
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

Make digest-audit test more rigid with fixture file
  digest-audit/EXPECTED_OUTPUT.md
  digest-audit/README.md
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Update IndexExpr handling for index operations
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: make getParameterName fail-safe for call-arg handling
  digest-audit/main.go
Due: none

Add digest-audit tool for finding digest.Digest uses
  digest-audit/.gitignore
  digest-audit/EXPECTED_OUTPUT.md
  digest-audit/README.md
  digest-audit/go.mod
  digest-audit/go.sum
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/go.sum
  digest-audit/sample/sample.go
  go.work
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

digest-audit: Unify output with -show-ignored flag and separate tracking
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_ignored.txt
  digest-audit/sample/expected_output.txt
Due: none

Use relative paths from input directory in digest-audit output
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Reorganize determineUse to handle known parents first
  digest-audit/main.go
Due: none

[podman-5.8] Bump storage to v1.62.0
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

[podman-5.8] Bump storage to 1.62.0 in image
  image/go.mod
  image/go.sum
Due: Image: Cross, image_test, image_test_skopeo

[podman-5.8] Bump image to v5.39.0
  image/version/version.go
Due: Image: Cross, image_test, image_test_skopeo

[podman-5.8] Add missing image go.sum
  image/go.sum
Due: Image: Cross, image_test, image_test_skopeo

[podman-5.8] Bump to image 5.39.1
  image/version/version.go
Due: Image: Cross, image_test, image_test_skopeo

github: run validation workflow also on release branches
  .github/workflows/validate.yml
Due: none

[podman-5.8] Bump image to v5.39.1, storage to v1.62.0
  common/go.mod
  common/go.sum
Due: none

[podman-5.8] Common to v0.67.0
  common/version/version.go
Due: none

Turn digest-audit into SystemContext audit
  digest-audit/go.mod
  digest-audit/go.sum
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/go.sum
  digest-audit/sample/sample.go
  go.work
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Bump dev versions in main
  common/version/version.go
  image/version/version.go
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

validate: fetch all commits
  .github/workflows/validate.yml
Due: none

Add an AGENTS.md in c/image
  image/AGENTS.md
Due: Image: Cross, image_test, image_test_skopeo

Add image/pkg/cli/basetls
  image/docs/containers-tls-details.yaml.5.md
  image/pkg/cli/basetls/basetls.go
  image/pkg/cli/basetls/basetls_test.go
  image/pkg/cli/basetls/testdata/invalid-values.yaml
  image/pkg/cli/basetls/tlsdetails/testdata/all-fields.yaml
  image/pkg/cli/basetls/tlsdetails/testdata/empty-fields.yaml
  image/pkg/cli/basetls/tlsdetails/testdata/empty.yaml
  image/pkg/cli/basetls/tlsdetails/tlsdetails.go
  image/pkg/cli/basetls/tlsdetails/tlsdetails_test.go
Due: Image: Cross, image_test, image_test_skopeo

Remove an obsolete comment
  image/openshift/openshift.go
Due: Image: Cross, image_test, image_test_skopeo

Update code references after the module rename
  image/docker/daemon/client.go
Due: Image: Cross, image_test, image_test_skopeo

Delete the temporary file on error in download.FromURL
  common/pkg/download/download.go
Due: none
