Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

json-proxy: Verify *either* manifest list or per-arch signature
  common/cmd/json-proxy-test-server/main.go
  common/pkg/json-proxy/handler.go
  common/pkg/json-proxy/proxy_test.go
  common/pkg/json-proxy/testdata/cosign.pub
  common/pkg/json-proxy/testdata/dir-img-cosign-manifest-list-signed-arch/634a8f35b5f16dcf4aaa0822adc0b1964bb786fca12f6831de8ddc45e5986a00.manifest.json
  common/pkg/json-proxy/testdata/dir-img-cosign-manifest-list-signed-arch/634a8f35b5f16dcf4aaa0822adc0b1964bb786fca12f6831de8ddc45e5986a00.signature-1
  common/pkg/json-proxy/testdata/dir-img-cosign-manifest-list-signed-arch/manifest.json
  common/pkg/json-proxy/testdata/dir-img-cosign-valid
  common/pkg/json-proxy/testdata/dir-img-unsigned
  common/pkg/json-proxy/testdata/policy-cosign.json
  common/pkg/json-proxy/testdata/policy-reject.json
  common/pkg/json-proxy/types.go
Due: none

json-proxy: Move policycontext into handler-level state
  common/pkg/json-proxy/handler.go
  common/pkg/json-proxy/utils.go
Due: none

Use the official moby/api types for Docker progress
  image/docker/daemon/daemon_dest.go
  image/go.mod
Due: Image: Cross, image_test, image_test_skopeo

Pass compression.Algorithm to saveStream, fix DetectCompressionFormat check
  image/pkg/blobcache/dest.go
Due: Image: Cross, image_test, image_test_skopeo

Move os.ReadFile into parseCompressedNote
  image/pkg/blobcache/blobcache.go
  image/pkg/blobcache/blobcache_test.go
  image/pkg/blobcache/dest.go
  image/pkg/blobcache/src.go
Due: Image: Cross, image_test, image_test_skopeo

Resolve compress algorithm at creation time + fix nits
  image/pkg/blobcache/blobcache.go
  image/pkg/blobcache/blobcache_test.go
  image/pkg/blobcache/src.go
Due: Image: Cross, image_test, image_test_skopeo

Fix a crash if Initialize fails to create a PolicyContext
  common/pkg/json-proxy/handler.go
Due: none

New images 2026-04-15
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

policy: enforce single config file load and clarify env var behavior
  image/docs/containers-policy.json.5.md
  image/signature/policy_config.go
  image/signature/policy_config_test.go
  storage/pkg/configfile/parse.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

policy: use configfile parser for policy.json loading
  common/pkg/config/config.go
  common/pkg/config/config_bsd.go
  common/pkg/config/config_darwin.go
  common/pkg/config/config_linux.go
  common/pkg/config/config_windows.go
  common/pkg/config/default.go
  image/docs/containers-policy.json.5.md
  image/signature/policy_config.go
  image/signature/policy_config_test.go
  image/signature/policy_paths_common.go
  image/signature/policy_paths_freebsd.go
  storage/pkg/configfile/parse.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

policy: report searched paths when policy.json is missing
  image/signature/policy_config.go
  image/signature/policy_config_test.go
  image/signature/policy_paths_common.go
  image/signature/policy_paths_freebsd.go
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

configfile: expose ErrConfigFileNotFound
  image/signature/policy_config.go
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

image: no longer accept V1 syntax in registries.conf
  image/docs/containers-registries.conf.5.md
  image/docs/containers-registries.conf.d.5.md
  image/pkg/sysregistriesv2/system_registries_v2.go
  image/pkg/sysregistriesv2/system_registries_v2_test.go
Due: Image: Cross, image_test, image_test_skopeo

storage: add two custom path options to pkg/configfile
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: add GetSearchPaths() to pkg/configfile
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

common: libimage test use valid SystemRegistriesConfDirPath
  common/libimage/runtime_test.go
Due: none

image: port registries.conf to pkg/configfile
  image/pkg/sysregistriesv2/paths_common.go
  image/pkg/sysregistriesv2/paths_freebsd.go
  image/pkg/sysregistriesv2/shortnames_test.go
  image/pkg/sysregistriesv2/system_registries_v2.go
  image/pkg/sysregistriesv2/system_registries_v2_test.go
Due: Image: Cross, image_test, image_test_skopeo

update containers-registries.conf.5 docs
  image/docs/containers-registries.conf.5.md
  image/docs/containers-registries.conf.d.5
  image/docs/containers-registries.conf.d.5.md
Due: Image: Cross, image_test, image_test_skopeo

image: deprecate UpdateRegistriesConf()
  image/pkg/cli/environment/environment.go
Due: Image: Cross, image_test, image_test_skopeo

common: remove hard coded registries.conf override
  common/libimage/runtime.go
Due: none

common: fix typo in registries.conf message
  common/pkg/auth/auth.go
Due: none

image: fix typo in registries.conf v1 format error message
  image/pkg/sysregistriesv2/system_registries_v2.go
  image/pkg/sysregistriesv2/system_registries_v2_test.go
Due: Image: Cross, image_test, image_test_skopeo

Fix a typo in a sample comment
  image/registries.conf
Due: Image: Cross, image_test, image_test_skopeo

common/pkg/parse: switch away from runc/libct/devices
  common/go.mod
  common/go.sum
  common/pkg/parse/parse_unix.go
  vendor/github.com/moby/sys/devices/LICENSE
  vendor/github.com/moby/sys/devices/device_unix.go
  vendor/github.com/moby/sys/devices/doc.go
  vendor/github.com/opencontainers/runc/libcontainer/devices/device_deprecated.go
  vendor/modules.txt
Due: none

Stop depending on github.com/opencontainers/runc
  common/go.mod
  common/go.sum
  common/pkg/apparmor/apparmor_linux.go
  common/pkg/apparmor/internal/supported/supported.go
  vendor/github.com/opencontainers/runc/LICENSE
  vendor/github.com/opencontainers/runc/NOTICE
  vendor/github.com/opencontainers/runc/internal/linux/doc.go
  vendor/github.com/opencontainers/runc/internal/linux/eintr.go
  vendor/github.com/opencontainers/runc/internal/linux/linux.go
  vendor/github.com/opencontainers/runc/internal/pathrs/doc.go
  vendor/github.com/opencontainers/runc/internal/pathrs/mkdirall.go
  vendor/github.com/opencontainers/runc/internal/pathrs/mkdirall_pathrslite.go
  vendor/github.com/opencontainers/runc/internal/pathrs/path.go
  vendor/github.com/opencontainers/runc/internal/pathrs/procfs_pathrslite.go
  vendor/github.com/opencontainers/runc/internal/pathrs/retry.go
  vendor/github.com/opencontainers/runc/internal/pathrs/root_pathrslite.go
  vendor/github.com/opencontainers/runc/libcontainer/apparmor/apparmor.go
  vendor/github.com/opencontainers/runc/libcontainer/apparmor/apparmor_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/apparmor/apparmor_unsupported.go
  vendor/modules.txt
Due: none

image/pkg/sysregistriesv2: fix one comment
  image/pkg/sysregistriesv2/system_registries_v2.go
Due: Image: Cross, image_test, image_test_skopeo

Fix tests on non-Linux
  common/pkg/apparmor/internal/supported/supported_test.go
Due: none

Collect constants in drivers/overlay by purpose
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Document getLower and rename it
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Remove an always-true condition
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Consolidate the lowerFile fallback to getLowerLayerIDs
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Simplify and optimize isParent
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Move all the "lower"-related functions to single place.
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix
