Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

Deprecate reference.ParseAnyReference
  image/docker/daemon/daemon_transport_test.go
  image/docker/reference/normalize.go
Due: Image: Cross, image_test, image_test_skopeo

Convert default_network from snake_case to camelCase
  common/libnetwork/types/network.go
Due: none

In compareImageDestinationManifestEqual, compare full manifests
  image/copy/single.go
Due: Image: Cross, image_test, image_test_skopeo

Document that we assume exact digest matching in c/common/pkg/manifests
  common/pkg/manifests/manifests.go
Due: none

WIP internal/digests.Options.Choose
  image/internal/digests/digests.go
Due: Image: Cross, image_test, image_test_skopeo

WIP: Sketch digest choice in c/image/copy
  image/copy/blob.go
  image/copy/copy.go
  image/internal/imagedestination/impl/compat.go
  image/internal/imagedestination/wrapper.go
  image/internal/private/private.go
Due: Image: Cross, image_test, image_test_skopeo

Add DigestIfAlgorithmUnknown
  image/internal/putblobdigest/put_blob_digest.go
Due: Image: Cross, image_test, image_test_skopeo

WIP INCOMPLETE: Sketch digest choice approach in transports
  image/copy/blob.go
  image/directory/directory_dest.go
  image/internal/private/private.go
Due: Image: Cross, image_test, image_test_skopeo

storage: add bpftrace lock time analysis script
  storage/contrib/scripts/store-locks.bt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use $BINDIR as the default helper binary directory on Windows
  common/pkg/config/config_windows.go
Due: none

Fix a misleading error message
  image/copy/multiple.go
Due: Image: Cross, image_test, image_test_skopeo

Don't add the zstd annotation if we can't edit the OCI index
  image/copy/multiple.go
  image/internal/manifest/docker_schema2_list.go
  image/internal/manifest/docker_schema2_list_test.go
  image/internal/manifest/list.go
  image/internal/manifest/oci_index.go
  image/internal/manifest/oci_index_test.go
Due: Image: Cross, image_test, image_test_skopeo

Add some FIXMEs
  image/copy/multiple.go
  image/internal/manifest/oci_index.go
Due: Image: Cross, image_test, image_test_skopeo

common: clarify containers.conf doc for env
  common/docs/containers.conf.5.md
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
Due: none

Bump common to v0.66.1
  common/version/version.go
Due: none

oci/archive: Delete temporary directory on error
  image/oci/archive/oci_transport.go
Due: Image: Cross, image_test, image_test_skopeo

Correctly handle nil SystemContext in BlobCache.NewImageSource
  image/pkg/blobcache/src.go
Due: Image: Cross, image_test, image_test_skopeo

Add NewImageSourceWithOptions
  image/directory/directory_transport.go
  image/directory/directory_transport_test.go
  image/docker/archive/src.go
  image/docker/archive/transport.go
  image/docker/archive/transport_test.go
  image/docker/daemon/daemon_src.go
  image/docker/daemon/daemon_transport.go
  image/docker/daemon/daemon_transport_test.go
  image/docker/docker_image.go
  image/docker/docker_image_src.go
  image/docker/docker_transport.go
  image/docker/docker_transport_test.go
  image/internal/imagereference/impl/compat.go
  image/internal/private/private.go
  image/oci/archive/oci_src.go
  image/oci/archive/oci_transport.go
  image/oci/archive/oci_transport_test.go
  image/oci/layout/oci_src.go
  image/oci/layout/oci_transport.go
  image/oci/layout/oci_transport_test.go
  image/openshift/openshift_src.go
  image/openshift/openshift_transport.go
  image/openshift/openshift_transport_test.go
  image/pkg/blobcache/blobcache_test.go
  image/pkg/blobcache/src.go
  image/sif/src.go
  image/sif/transport.go
  image/sif/transport_test.go
  image/storage/storage_image.go
  image/storage/storage_reference.go
  image/storage/storage_reference_test.go
  image/storage/storage_src.go
  image/tarball/tarball_reference.go
  image/tarball/tarball_reference_test.go
  image/tarball/tarball_src.go
Due: Image: Cross, image_test, image_test_skopeo

Add imagesource.NewImageSource
  image/internal/imagesource/wrapper.go
Due: Image: Cross, image_test, image_test_skopeo

Forward NewImageSourceOptions in pkg/blobcache
  image/pkg/blobcache/src.go
Due: Image: Cross, image_test, image_test_skopeo

Use DigestOptions when creating ImageSource in c/image/copy
  image/copy/copy.go
  image/copy/single.go
  image/internal/image/sourced.go
Due: Image: Cross, image_test, image_test_skopeo

Implement digest choice in tarball:
  image/tarball/tarball_reference.go
  image/tarball/tarball_src.go
Due: Image: Cross, image_test, image_test_skopeo

Implement digest choice in sif:
  image/sif/src.go
Due: Image: Cross, image_test, image_test_skopeo
