Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**

storage/archive,chrootarchive: add support for splitfdstream
  storage/pkg/archive/archive.go
  storage/pkg/archive/archive_test.go
  storage/pkg/archive/diff.go
  storage/pkg/archive/splitfdstream.go
  storage/pkg/chrootarchive/init_unix.go
  storage/pkg/chrootarchive/splitfdstream_unix.go
  storage/pkg/chrootarchive/splitfdstream_unsupported.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/cmd: new commands json-rpc-server and apply-splitfdstream
  storage/cmd/containers-storage/splitfdstream.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/tests: add tests for splitfdstream
  storage/tests/splitfdstream.bats
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/overlay: implement SplitFDStreamDriver
  storage/drivers/overlay/composefs.go
  storage/drivers/overlay/overlay.go
  storage/drivers/overlay/overlay_splitfdstream.go
  storage/drivers/overlay/splitfdstream_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Makefile: remove CNI build infrastructure
  common/Makefile
Due: Common: Test

libnetwork: remove CNI-specific code paths from rootless networking
  common/libnetwork/internal/rootlessnetns/netns.go
  common/libnetwork/internal/rootlessnetns/netns_freebsd.go
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/netavark/config.go
  common/libnetwork/netavark/network.go
  common/libnetwork/slirp4netns/slirp4netns.go
  common/pkg/rootlessport/rootlessport_linux.go
Due: Common: Test

netns: inline containernetworking/plugins/pkg/ns
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/netavark/run_test.go
  common/libnetwork/pasta/pasta_linux.go
  common/libnetwork/slirp4netns/slirp4netns.go
  common/pkg/netns/netns_linux.go
Due: Common: Test

storage, overlay: add lower-layers file
  storage/drivers/overlay/overlay.go
  storage/tests/overlay-recreate.bats
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

fixup! copy: add option to strip sparse manifest lists
  image/copy/copy.go
Due: Image: Validate, Common: Test

fixup! copy: add option to strip sparse manifest lists
  image/copy/multiple.go
Due: Image: Validate, Common: Test

fixup! copy: add option to strip sparse manifest lists
  image/copy/multiple.go
  image/copy/multiple_test.go
Due: Image: Validate, Common: Test

fixup! copy: add option to strip sparse manifest lists
  image/copy/multiple_test.go
Due: Image: Validate, Common: Test

move common/internal/attributedstring into storage/pkg/configfile
  common/go.mod
  common/libnetwork/cni/cni_suite_test.go
  common/libnetwork/netavark/netavark_suite_test.go
  common/libnetwork/pasta/pasta_linux_test.go
  common/pkg/config/config.go
  common/pkg/config/default.go
  storage/pkg/configfile/slice.go
  storage/pkg/configfile/slice_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: rewrite option parsing
  storage/drivers/btrfs/btrfs.go
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/drivers/overlay/overlay_test.go
  storage/drivers/vfs/driver.go
  storage/drivers/zfs/zfs.go
  storage/pkg/config/config.go
  storage/pkg/config/config_test.go
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: fix test to pass proper driver option
  storage/tests/idmaps.bats
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell
