Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage_fedora_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

storage_debian_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

Image: Cross:
  alias: image_cross
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test:
  alias: image_test
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test_skopeo:
  alias: image_test_skopeo
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    GOSRC: ${CIRRUS_WORKING_DIR}
    GOPATH: /var/tmp/go
    SKOPEO_CI_BRANCH: main
    SCRIPT_BASE: ./contrib/cirrus
  ...

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.24
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.24
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: '# The git diff complains about broken symlinks in some test files.
  
    # We therefore filter-out these files, since they are not changed by
  
    # gofix anyway.
  
  ...

digest-audit: Make program safer with strict error handling and warnings
  digest-audit/main.go
Due: none

digest-audit: Add support for digest.Algorithm type
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

Focus digest-audit on uses of values, not their construction
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: Use Ignored bool field with context-specific Kind values
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Add special case handling for digest comparisons and logging
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: Fix struct key detection for inferred types
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

Make digest-audit test more rigid with fixture file
  digest-audit/EXPECTED_OUTPUT.md
  digest-audit/README.md
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Track ignored uses and achieve comprehensive test coverage
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_ignored.txt
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: Distinguish type casts from function calls, use param names
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Add String() method and output Kind before Name
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Inline getParentFromStack function
  digest-audit/main.go
Due: none

digest-audit: Reorganize determineUse to handle known parents first
  digest-audit/main.go
Due: none

digest-audit: split map-key and struct-key with fail-safe logic
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

Use ast.PreorderStack instead of manual stack maintenance
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Update IndexExpr handling for index operations
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

Add digest-audit tool for finding digest.Digest uses
  digest-audit/.gitignore
  digest-audit/EXPECTED_OUTPUT.md
  digest-audit/README.md
  digest-audit/go.mod
  digest-audit/go.sum
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/go.sum
  digest-audit/sample/sample.go
  go.work
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

digest-audit: use relative/absolute paths based on input
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Sort output numerically by file, line, column
  digest-audit/main.go
  digest-audit/sample/expected_ignored.txt
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: Add special cases for nil comparisons and Validate() calls
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

Use relative paths from input directory in digest-audit output
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_output.txt
Due: none

Remove references to iptables
  common/docs/containers.conf.5.md
  common/libnetwork/netavark/run_test.go
  common/pkg/config/containers.conf
Due: none

PolicyContext: add new `RequireSignatureVerification` method
  image/signature/policy_eval.go
  image/signature/policy_eval_baselayer.go
  image/signature/policy_eval_baselayer_test.go
  image/signature/policy_eval_signedby.go
  image/signature/policy_eval_signedby_test.go
  image/signature/policy_eval_sigstore.go
  image/signature/policy_eval_sigstore_test.go
  image/signature/policy_eval_simple.go
  image/signature/policy_eval_simple_test.go
  image/signature/policy_eval_test.go
Due: Image: Cross, image_test, image_test_skopeo

common: clarify containers.conf doc for env
  common/docs/containers.conf.5.md
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
Due: none

run `gofumpt -w .`
  image/docker/reference/normalize.go
  image/docker/wwwauthenticate.go
  image/pkg/shortnames/shortnames.go
Due: Image: Cross, image_test, image_test_skopeo

Update to github.com/sigstore/fulcio@v1.8.1
  common/go.mod
  common/go.sum
  go.work
  go.work.sum
  image/go.mod
  image/go.sum
  storage/go.mod
  storage/go.sum
  vendor/github.com/coreos/go-oidc/v3/oidc/jwks.go
  vendor/github.com/coreos/go-oidc/v3/oidc/verify.go
  vendor/github.com/modern-go/reflect2/safe_type.go
  vendor/github.com/sigstore/fulcio/pkg/certificate/extensions.go
  vendor/github.com/sigstore/protobuf-specs/gen/pb-go/common/v1/sigstore_common.pb.go
  vendor/github.com/sirupsen/logrus/terminal_check_bsd.go
  vendor/github.com/sirupsen/logrus/terminal_check_unix.go
  vendor/github.com/sirupsen/logrus/terminal_check_wasi.go
  vendor/github.com/sirupsen/logrus/terminal_check_wasip1.go
  vendor/google.golang.org/grpc/CONTRIBUTING.md
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirstleaf/pickfirstleaf.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/encoding/proto/proto.go
  vendor/google.golang.org/grpc/internal/buffer/unbounded.go
  vendor/google.golang.org/grpc/internal/channelz/trace.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcsync/callback_serializer.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Fix a misleading error message
  image/copy/multiple.go
Due: Image: Cross, image_test, image_test_skopeo

Don't add the zstd annotation if we can't edit the OCI index
  image/copy/multiple.go
  image/internal/manifest/docker_schema2_list.go
  image/internal/manifest/docker_schema2_list_test.go
  image/internal/manifest/list.go
  image/internal/manifest/oci_index.go
  image/internal/manifest/oci_index_test.go
Due: Image: Cross, image_test, image_test_skopeo

Add some FIXMEs
  image/copy/multiple.go
  image/internal/manifest/oci_index.go
Due: Image: Cross, image_test, image_test_skopeo

Use $BINDIR as the default helper binary directory on Windows
  common/pkg/config/config_windows.go
Due: none

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
