Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**

manifest: add zstd:chunked sentinel annotation support and instance selection
  image/internal/manifest/oci_index.go
Due: Image: Validate, Common: Test

copy: detect zstd:chunked sentinel layer and skip full-digest mitigation during pull
  image/copy/single.go
  image/storage/storage_dest.go
  image/storage/storage_src.go
Due: Image: Validate, Common: Test

chunked: add zstd:chunked sentinel constants and SkipMitigation function
  storage/pkg/chunked/storage_linux.go
  storage/pkg/chunked/storage_unsupported.go
  storage/pkg/chunked/toc/toc.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

copy: create zstd:chunked sentinel variants when pushing images
  image/copy/copy.go
  image/copy/multiple.go
  image/copy/single.go
  image/storage/storage_src.go
Due: Image: Validate, Common: Test

Fix comments and set default values for options.Progress and options.ProgressInterval
  image/copy/copy.go
  image/copy/progress_nontty.go
  image/copy/progress_nontty_test.go
Due: Image: Validate, Common: Test

fixup! copy: remove outdated comment referencing removed code
  image/copy/multiple.go
Due: Image: Validate, Common: Test

fixup! copy: remove dead code in signature validation
  image/copy/multiple.go
Due: Image: Validate, Common: Test

fixup! copy: validate against empty manifest list
  image/copy/multiple.go
Due: Image: Validate, Common: Test

fixup! copy: improve error context for system image from manifest list
  image/copy/copy.go
Due: Image: Validate, Common: Test

copy: detect zstd:chunked sentinel layer and skip full-digest mitigation during pull
  image/copy/single.go
  image/copy/single_test.go
  image/storage/storage_dest.go
  image/storage/storage_src.go
Due: Image: Validate, Common: Test

Libnetwork: Refactor to use deterministic network order
  common/libnetwork/internal/util/validate.go
  common/libnetwork/netavark/ipam.go
  common/libnetwork/netavark/ipam_test.go
  common/libnetwork/netavark/run.go
  common/libnetwork/netavark/run_test.go
  common/libnetwork/types/network.go
Due: Common: Test

storage: rewrite option parsing
  storage/drivers/btrfs/btrfs.go
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/drivers/overlay/overlay_test.go
  storage/drivers/vfs/driver.go
  storage/drivers/zfs/zfs.go
  storage/pkg/config/config.go
  storage/pkg/config/config_test.go
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

move common/internal/attributedstring into storage/pkg/configfile
  common/go.mod
  common/libnetwork/cni/cni_suite_test.go
  common/libnetwork/netavark/netavark_suite_test.go
  common/libnetwork/pasta/pasta_linux_test.go
  common/pkg/config/config.go
  common/pkg/config/default.go
  storage/pkg/configfile/slice.go
  storage/pkg/configfile/slice_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: fix test to pass proper driver option
  storage/tests/idmaps.bats
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

fixup! copy: simplify signature validation in manifest list modification
  image/copy/multiple.go
Due: Image: Validate, Common: Test

fixup! copy: remove redundant comment in compression list handling
  image/copy/multiple.go
Due: Image: Validate, Common: Test

fixup! copy: improve error message for empty manifest list validation
  image/copy/multiple.go
Due: Image: Validate, Common: Test
