Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage_fedora_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

storage_debian_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

Image: Cross:
  alias: image_cross
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test:
  alias: image_test
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test_skopeo:
  alias: image_test_skopeo
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    GOSRC: ${CIRRUS_WORKING_DIR}
    GOPATH: /var/tmp/go
    SKOPEO_CI_BRANCH: main
    SCRIPT_BASE: ./contrib/cirrus
  ...

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.24
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.24
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: '# The git diff complains about broken symlinks in some test files.
  
    # We therefore filter-out these files, since they are not changed by
  
    # gofix anyway.
  
  ...

Use encoding/json/v2 for output of tools from our projects
  common/libnetwork/netavark/exec.go
  common/libnetwork/netavark/network.go
  common/libnetwork/netavark/testplugin/main.go
  common/pkg/ssh/connection_golang.go
  common/pkg/ssh/connection_native.go
Due: none

Use bytes.CutLast
  image/internal/manifest/common_test.go
  image/manifest/common_test.go
Due: Image: Cross, image_test, image_test_skopeo

Use json/v2 for data written by the same binary
  storage/drivers/chown.go
  storage/drivers/jsoniter.go
  storage/drivers/overlay/jsoniter.go
  storage/drivers/overlay/mount.go
  storage/pkg/chrootarchive/archive_unix.go
  storage/pkg/chrootarchive/diff_unix.go
  storage/pkg/chrootarchive/jsoniter.go
  storage/pkg/unshare/unshare_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

FIXME: Use encoding/json/v2 in most tests
  common/libimage/corrupted_test.go
  common/libimage/manifest_list_test.go
  common/libimage/manifests/manifests_test.go
  common/libnetwork/types/network_test.go
  common/pkg/json-proxy/proxy_test.go
  common/pkg/supplemented/supplemented_test.go
  image/docker/reference/reference_test.go
  image/internal/image/common_test.go
  image/internal/image/oci_test.go
  image/internal/signature/sigstore_test.go
  image/manifest/docker_schema1_test.go
  image/pkg/blobcache/blobcache_test.go
  image/pkg/docker/config/config_test.go
  image/pkg/strslice/strslice_test.go
  image/signature/internal/json_test.go
  image/signature/internal/rekor_set_test.go
  image/signature/internal/sigstore_payload_test.go
  image/signature/policy_config_sigstore_test.go
  image/signature/policy_config_test.go
  image/signature/simple_test.go
  image/storage/storage_test.go
  storage/additional_layer_test.go
  storage/pkg/chunked/zstdchunked_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Replace almost all outstanding users of json-iterator
  common/go.mod
  common/libimage/copier.go
  common/libimage/image_config.go
  common/libimage/inspect.go
  common/libimage/manifest_list.go
  common/libimage/runtime.go
  storage/jsoniter.go
  storage/layers.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use strings.CutLast
  image/storage/storage_transport.go
Due: Image: Cross, image_test, image_test_skopeo

Use generic methods instead of top-level generic functions
  image/pkg/blobinfocache/sqlite/sqlite.go
  storage/check.go
  storage/check_test.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Silence SA4023 in build-dependent code
  image/storage/storage_dest.go
  storage/cmd/containers-storage/diff.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Remove an import comment
  storage/drivers/vfs/copy_unsupported.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Update to Go 1.26
  common/go.mod
  go.work
  image/go.mod
  storage/go.mod
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use the typed atomic value API
  storage/pkg/chunked/filesystem_linux.go
  storage/pkg/lockfile/lockfile_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

rootlessnetns: do not pool the unshared thread
  common/libnetwork/internal/rootlessnetns/netns_linux.go
Due: none

Netavark: drop `*config.Config`, introduce `PestoClient` for port forwarding
  common/libnetwork/netavark/network.go
  common/libnetwork/netavark/run.go
  common/libnetwork/pasta/pesto_freebsd.go
  common/libnetwork/pasta/pesto_linux.go
  common/libnetwork/pasta/types.go
Due: none

Follow-up cleanups from PestoClient review
  common/libnetwork/netavark/network.go
  common/libnetwork/pasta/pesto_linux.go
  common/libnetwork/pasta/types.go
Due: none

common/libimage/manifests: use our own pause image copy
  common/libimage/manifests/manifests_test.go
Due: none

RPM: Allow RH image verification on Fedora and CentOS Stream
  common/contrib/redhat/registry.access.redhat.com.yaml
  common/contrib/redhat/registry.redhat.io.yaml
  common/rpm/containers-common.spec
  common/rpm/policy.json
Due: none

common/libimage/manifests: use pause image without windows
  common/libimage/manifests/manifests_test.go
Due: none

archive: map v3 file capability rootid to the container namespace
  storage/pkg/archive/archive.go
  storage/pkg/archive/archive_test.go
  storage/pkg/archive/changes_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use GitHub's self-repository syntax
  .github/workflows/ci.yml
  hack/ci/ci_yaml_test.py
Due: none

libimage: skip removed images in DiskUsage
  common/libimage/disk_usage.go
Due: none

archive: error out when a capability rootid cannot be mapped
  storage/pkg/archive/archive.go
  storage/pkg/archive/archive_test.go
  storage/pkg/archive/changes_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

archive: clarify capability rootid test descriptions
  storage/pkg/archive/archive_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Add support for crun hook stdout/stderr annotations in precreate hooks
  common/pkg/hooks/exec/runtimeconfigfilter.go
  common/pkg/hooks/exec/runtimeconfigfilter_test.go
Due: none

Packit: Add Fedora 45 downstream target
  .packit.yaml
Due: none

Update to Go 1.27.0
  common/go.mod
  go.work
  image/go.mod
  storage/go.mod
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
