Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage_fedora_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

storage_debian_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

Storage: Lint:
  alias: storage_lint
  env:
    CIRRUS_WORKING_DIR: /go/src/github.com/containers/storage
  container:
    image: golang
  modules_cache:
    fingerprint_script: cat storage/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'apt-get update
  
    apt-get install -y libbtrfs-dev libsubid-dev
  
    '
  ...

Image: Validate:
  alias: image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${DEBIAN_CACHE_IMAGE_NAME}
  env:
    HOME: /root
  script: 'cd image
  
    git remote update
  
    make tools
  
    # TODO: Enable once we are done with monorepo tests.
  
  ...

Common: Test:
  alias: common_testing
  container:
    image: ${FEDORA_CONTAINER_FQIN}
  modules_cache:
    fingerprint_script: cat common/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'cd common
  
    make vendor
  
    '
  test_script: 'cd common
  
    hack/tree_status.sh
  
    make build
  
    make build-cross
  
    make test
  
    '

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: 'cd storage
  
    git diff --diff-filter=M --exit-code
  
    '

Storage: codespell:
  alias: storage_codespell
  container:
    image: python
  build_script: pip install codespell
  test_script: 'cd storage
  
    codespell
  
    '

rpm: remove slirp4netns weak dependency
  common/rpm/containers-common.spec
Due: Common: Test

common: Remove slirp for podman6
  common/pkg/systemd/systemd_linux.go
Due: Common: Test

common/Makefile: remove cni
  common/Makefile
Due: Common: Test

common/pkg/libnetwork: Remove CNI for podman6
  common/libnetwork/cni/README.md
  common/libnetwork/cni/cni_conversion.go
  common/libnetwork/cni/cni_exec.go
  common/libnetwork/cni/cni_suite_test.go
  common/libnetwork/cni/cni_types.go
  common/libnetwork/cni/config.go
  common/libnetwork/cni/config_freebsd.go
  common/libnetwork/cni/config_linux.go
  common/libnetwork/cni/config_test.go
  common/libnetwork/cni/network.go
  common/libnetwork/cni/run.go
  common/libnetwork/cni/run_freebsd.go
  common/libnetwork/cni/run_linux.go
  common/libnetwork/cni/run_test.go
  common/libnetwork/cni/testfiles/invalid/broken.conflist
  common/libnetwork/cni/testfiles/invalid/invalid_gateway.conflist
  common/libnetwork/cni/testfiles/invalid/invalidname.conflist
  common/libnetwork/cni/testfiles/invalid/noname.conflist
  common/libnetwork/cni/testfiles/invalid/noplugin.conflist
  common/libnetwork/cni/testfiles/invalid/samename1.conflist
  common/libnetwork/cni/testfiles/invalid/samename2.conflist
  common/libnetwork/cni/testfiles/valid/87-podman.conflist
  common/libnetwork/cni/testfiles/valid/bridge.conflist
  common/libnetwork/cni/testfiles/valid/dualstack.conflist
  common/libnetwork/cni/testfiles/valid/internal.conflist
  common/libnetwork/cni/testfiles/valid/ipam-empty.conflist
  common/libnetwork/cni/testfiles/valid/ipam-none.conflist
  common/libnetwork/cni/testfiles/valid/ipam-static.conflist
  common/libnetwork/cni/testfiles/valid/isolate.conflist
  common/libnetwork/cni/testfiles/valid/label.conflist
  common/libnetwork/cni/testfiles/valid/macvlan.conflist
  common/libnetwork/cni/testfiles/valid/macvlan_mtu.conflist
  common/libnetwork/cni/testfiles/valid/mtu.conflist
  common/libnetwork/cni/testfiles/valid/vlan.conflist
Due: Common: Test

common/docs: remove cni
  common/docs/containers.conf.5.md
Due: Common: Test

common/libnetwork/network: remove cni
  common/libnetwork/network/interface_freebsd.go
Due: Common: Test

go.mod: remove cni
  common/go.mod
Due: Common: Test

common/libnetwork/internal/rootlessnetns: Remove CNI
  common/libnetwork/internal/rootlessnetns/netns.go
  common/libnetwork/internal/rootlessnetns/netns_linux.go
Due: Common: Test

common/pkg/config: remove CNI
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/config_remote_test.go
  common/pkg/config/config_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/default.go
  common/pkg/config/testdata/containers_comment.conf
  common/pkg/config/testdata/containers_default.conf
  common/pkg/config/testdata/containers_invalid.conf
Due: Common: Test

go.sum: remove cni
  common/go.sum
Due: Common: Test

common/pkg/rootlessport: Remove CNI
  common/go.sum
  common/pkg/rootlessport/rootlessport_linux.go
Due: Common: Test

remove goimport: go.podman.io/common/libnetwork/cni
  common/libnetwork/network/interface.go
  common/libnetwork/network/interface_cni.go
  common/libnetwork/network/interface_cni_unsupported.go
  common/libnetwork/network/interface_linux.go
  common/libnetwork/types/const.go
Due: Common: Test

common/libnetwork/network: comment cleanup
  common/libnetwork/network/interface.go
Due: Common: Test

update godoc button in README for image/v5
  image/README.md
Due: Image: Validate, Common: Test

libartifact: strong type where possible
  common/go.mod
  common/go.sum
  common/pkg/libartifact/store/artifact.go
  common/pkg/libartifact/store/reference.go
  common/pkg/libartifact/store/reference_test.go
  common/pkg/libartifact/store/store.go
  common/pkg/libartifact/store/store_test.go
  go.work.sum
  vendor/github.com/pkg/errors/.gitignore
  vendor/github.com/pkg/errors/.travis.yml
  vendor/github.com/pkg/errors/LICENSE
  vendor/github.com/pkg/errors/Makefile
  vendor/github.com/pkg/errors/README.md
  vendor/github.com/pkg/errors/appveyor.yml
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/go113.go
  vendor/github.com/pkg/errors/stack.go
  vendor/go.step.sm/crypto/LICENSE
  vendor/go.step.sm/crypto/randutil/random.go
  vendor/modules.txt
Due: Common: Test

common: add support for `default_host_ips` in containers.conf
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
Due: Common: Test

Bump storage to v1.61.1
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Bump storage back to v1.62.0-dev
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

RPM: Allow RH image verification on Fedora and CentOS Stream
  common/rpm/containers-common.spec
  common/rpm/policy.json
Due: Common: Test

Do not block try lock on state mutex
  storage/pkg/lockfile/lockfile.go
  storage/pkg/lockfile/lockfile_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

image/internal: validate blob against digest
  image/internal/image/digest_validation.go
  image/internal/image/digest_validation_test.go
  image/internal/image/docker_schema2.go
  image/internal/image/oci.go
Due: Image: Validate, Common: Test

image/directory: digest algorithm agility with manifest constraints
  image/directory/directory_dest.go
  image/directory/directory_transport.go
  image/directory/directory_transport_test.go
Due: Image: Validate, Common: Test

storage/internal/tempdir: add StageAddition()
  storage/internal/tempdir/tempdir.go
  storage/internal/tempdir/tempdir_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

overlay: add getLayerPermissions()
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: simplify ApplyDiff() in overlay driver
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

overlay: add StartStagingDiffToApply()
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/drivers/overlay/overlay_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: don't buffer tar split file in memory
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: don't lock container store in putLayer
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: rework applyDiffWithOptions()
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: support staged addition of layers
  storage/layers.go
  storage/store.go
  storage/userns.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: do conflict checks before staging untar
  storage/layers.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: extract layer mapping into separate function
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: remove NaiveCreateFromTemplate()
  storage/drivers/driver.go
  storage/drivers/template.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: extract id or name conflict check into function
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: don't use stagedLayerExtract when mountLabel is set
  storage/layers.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: remove parent param from ApplyDiff()
  storage/drivers/driver.go
  storage/drivers/fsdiff.go
  storage/drivers/graphtest/graphbench_unix.go
  storage/drivers/graphtest/graphtest_unix.go
  storage/drivers/overlay/overlay.go
  storage/drivers/vfs/driver.go
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: rename stagedLayerOptions to layerCreationContents
  storage/layers.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Revert "Revert Cgroups V1 removal"
  common/pkg/cgroups/blkio_linux.go
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/cgroups_linux_test.go
  common/pkg/cgroups/cpu_linux.go
  common/pkg/cgroups/cpuset_linux.go
  common/pkg/cgroups/memory_linux.go
  common/pkg/cgroups/pids_linux.go
  common/pkg/cgroups/systemd_linux.go
  common/pkg/cgroups/utils_linux.go
  common/pkg/cgroupv2/cgroups_linux.go
  common/pkg/cgroupv2/cgroups_unsupported.go
  common/pkg/config/default.go
  common/pkg/config/systemd.go
  common/pkg/sysinfo/sysinfo_linux.go
  common/pkg/systemd/systemd_linux.go
Due: Common: Test

common/pkg/cgroups: Remove linuxCpusetHandler.Create
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/cpuset_linux.go
Due: Common: Test

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**
