Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

digest-audit: Remove TestGenerateFixtures helper test
  digest-audit/main_test.go
Due: none

digest-audit: Add support for digest.Algorithm type
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

seccomp: allow perf_event_open if CAP_PERFMON
  common/pkg/seccomp/default_linux.go
  common/pkg/seccomp/seccomp.json
Due: none

docs: Signatures expect a single signature packet
  image/docs/containers-signature.5.md
Due: Image: Cross, image_test, image_test_skopeo

Possible lint fix for platform.go
  common/libimage/platform.go
Due: none

Fix gocritic deprecatedComment lint failures
  common/libimage/platform.go
  common/libnetwork/types/network.go
  common/pkg/config/config.go
  common/pkg/config/default.go
Due: none

Report _all_ lint failures at once
  common/.golangci.yml
  image/.golangci.yml
  storage/.golangci.yml
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Fix parsing of cgroupv2 cpu.stat
  common/pkg/cgroups/cpu_linux.go
Due: none

Split obtainBearerToken from dockerClient.setupRequestAuth
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

Exit early from obtainBearerToken if c.registryToken is set
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

Use an explicit lock for dockerClient.tokenCache instead of sync.Map
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

Store a pointer to a bearerToken in tokenCache
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

Move creation of bearerToken to obtainBearerToken
  image/docker/docker_client.go
  image/docker/docker_client_test.go
Due: Image: Cross, image_test, image_test_skopeo

Only obtain a bearer token once at a time
  image/docker/docker_client.go
Due: Image: Cross, image_test, image_test_skopeo

Revert Cgroups V1 removal
  common/pkg/cgroups/blkio_linux.go
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/cgroups_linux_test.go
  common/pkg/cgroups/cpu_linux.go
  common/pkg/cgroups/cpuset_linux.go
  common/pkg/cgroups/memory_linux.go
  common/pkg/cgroups/pids_linux.go
  common/pkg/cgroups/systemd_linux.go
  common/pkg/cgroups/utils_linux.go
  common/pkg/cgroupv2/cgroups_linux.go
  common/pkg/cgroupv2/cgroups_unsupported.go
  common/pkg/config/default.go
  common/pkg/config/systemd.go
  common/pkg/sysinfo/sysinfo_linux.go
  common/pkg/systemd/systemd_linux.go
Due: none

Update to github.com/cyphar/filepath-securejoin v0.5.1
  common/go.mod
  common/go.sum
  image/go.mod
  image/go.sum
  storage/go.mod
  storage/go.sum
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/errors_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/fd/openat2_linux.go
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Update to github.com/opencontainers/runc v1.3.3
  common/go.mod
  common/go.sum
  vendor/github.com/opencontainers/runc/internal/pathrs/doc.go
  vendor/github.com/opencontainers/runc/internal/pathrs/mkdirall_pathrslite.go
  vendor/github.com/opencontainers/runc/internal/pathrs/path.go
  vendor/github.com/opencontainers/runc/internal/pathrs/procfs_pathrslite.go
  vendor/github.com/opencontainers/runc/internal/pathrs/retry.go
  vendor/github.com/opencontainers/runc/internal/pathrs/root_pathrslite.go
  vendor/github.com/opencontainers/runc/libcontainer/apparmor/apparmor_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Due: none

Update to github.com/cyphar/filepath-securejoin v0.6.0
  common/go.mod
  common/go.sum
  image/go.mod
  image/go.sum
  storage/go.mod
  storage/go.sum
  vendor/cyphar.com/go-pathrs/.golangci.yml
  vendor/cyphar.com/go-pathrs/COPYING
  vendor/cyphar.com/go-pathrs/doc.go
  vendor/cyphar.com/go-pathrs/handle_linux.go
  vendor/cyphar.com/go-pathrs/internal/fdutils/fd_linux.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/error_unix.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/libpathrs_linux.go
  vendor/cyphar.com/go-pathrs/procfs/procfs_linux.go
  vendor/cyphar.com/go-pathrs/root_linux.go
  vendor/cyphar.com/go-pathrs/utils_linux.go
  vendor/github.com/cyphar/filepath-securejoin/.golangci.yml
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/deprecated_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/README.md
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/doc.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/mkdir_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_libpathrs.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_purego.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_libpathrs.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_purego.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/procfs/procfs_libpathrs.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/procfs/procfs_purego.go
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Packit: Do not notify on podman-next copr build failure
  .packit.yaml
Due: none

image: fix new staticcheck lint issue
  image/docker/daemon/daemon_dest.go
Due: Image: Cross, image_test, image_test_skopeo

Makefile: add fmt target
  Makefile
  common/Makefile
  image/Makefile
  storage/Makefile
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

CONTRIBUTING_GO: document linter and formatter
  CONTRIBUTING_GO.md
Due: none

Also unset DOCKER_AUTH_CONFIG in TestSetCredentialsInteroperability
  image/pkg/docker/config/config_test.go
Due: Image: Cross, image_test, image_test_skopeo

storage.conf-freebsd: fix typo
  storage/storage.conf-freebsd
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

common: change default macOS machine provider to libkrun
  common/docs/containers.conf.5.md
  common/pkg/config/containers.conf
Due: none

image: add copyright notice to sequoia wrappers
  image/signature/internal/sequoia/gosequoia.c
  image/signature/internal/sequoia/gosequoia.h
Due: Image: Cross, image_test, image_test_skopeo

digest-audit: Unify output with -show-ignored flag and separate tracking
  digest-audit/main.go
  digest-audit/main_test.go
  digest-audit/sample/expected_ignored.txt
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: simplify test sample for complete coverage
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none

digest-audit: Add comprehensive handling for all real-world digest usage patterns
  digest-audit/main.go
Due: none

digest-audit: classify pure value moves as ignored
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
Due: none

digest-audit: make getParameterName fail-safe for call-arg handling
  digest-audit/main.go
Due: none

digest-audit: Place kind before name in useInfo and DigestUse
  digest-audit/main.go
Due: none

digest-audit: improve handling of RangeStmt, SwitchStmt, and add new cases
  digest-audit/main.go
  digest-audit/sample/expected_output.txt
  digest-audit/sample/sample.go
Due: none
