Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**

sigstore-bundle: add in-toto statement parsing for attestations
  image/signature/internal/intoto.go
  image/signature/internal/intoto_test.go
  image/signature/internal/sigstore_payload.go
Due: Image: Validate, Common: Test

sigstore-bundle: add oci v1.1 referrers API support for fetching signatures
  image/docker/docker_client.go
  image/docker/docker_client_referrers.go
  image/docker/docker_client_referrers_test.go
  image/docker/docker_image_src.go
Due: Image: Validate, Common: Test

sigstore-bundle: add policy verification for sigstore bundle format
  image/signature/policy_eval_sigstore.go
  image/signature/policy_eval_sigstore_bundle.go
  image/signature/policy_eval_sigstore_bundle_test.go
Due: Image: Validate, Common: Test

seccomp: block AF_VSOCK sockets
  common/pkg/seccomp/default_linux.go
  common/pkg/seccomp/seccomp.json
Due: Common: Test

Add DockerAdditionalTrustedBundle for custom CAs
  image/docker/docker_client.go
  image/types/types.go
Due: Image: Validate, Common: Test

feat(image): add WASM OCI image support
  image/internal/image/oci.go
  image/internal/manifest/manifest.go
  image/manifest/oci.go
  image/manifest/oci_test.go
Due: Image: Validate, Common: Test

fix unshare without CGO_ENABLED
  storage/pkg/unshare/unshare_cgo.go
  storage/pkg/unshare/unshare_gccgo.go
  storage/pkg/unshare/unshare_linux.go
  storage/pkg/unshare/unshare_nocgo.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

fileutils_test: check symlink directory location before test
  storage/pkg/fileutils/fileutils_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

image/docker/internal/tarfile: Fix size reporting for symlink layers
  image/docker/internal/tarfile/reader.go
  image/docker/internal/tarfile/src.go
  image/docker/internal/tarfile/src_test.go
Due: Image: Validate, Common: Test

Use netavark create to fill out network config
  common/libnetwork/netavark/config.go
  common/libnetwork/netavark/config_test.go
  common/libnetwork/netavark/ipam_test.go
  common/libnetwork/netavark/network.go
  common/libnetwork/netavark/run.go
  common/libnetwork/types/network.go
  common/pkg/config/config.go
Due: Common: Test

Do not access `uncompressed` reader after close.
  image/docker/docker_image_dest.go
  storage/layers.go
  storage/pkg/terminablereader/terminable_reader.go
  storage/pkg/terminablereader/terminable_reader_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: add new pkg/configfile package
  storage/pkg/configfile/doc.go
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
  storage/pkg/configfile/path.go
  storage/pkg/configfile/path_freebsd.go
  storage/pkg/configfile/path_unix.go
  storage/pkg/configfile/path_windows.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

common: port pkg/config to new configfile package
  common/pkg/config/config.go
  common/pkg/config/config_linux.go
  common/pkg/config/config_local_test.go
  common/pkg/config/config_test.go
  common/pkg/config/config_unix.go
  common/pkg/config/config_windows.go
  common/pkg/config/connections.go
  common/pkg/config/connections_test.go
  common/pkg/config/modules.go
  common/pkg/config/modules_test.go
  common/pkg/config/new.go
  common/pkg/config/search_order_test.go
Due: Common: Test

overlay: add EBUSY workaround for rename
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

zfs: add idmapped mount support for rootless containers
  storage/drivers/zfs/zfs.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

common: add support for `default_host_ips` in containers.conf
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/testdata/containers_default.conf
Due: Common: Test

image: Add buildSignerURI for Fulcio workflow identity verification
  image/docs/containers-policy.json.5.md
  image/signature/fulcio_cert.go
  image/signature/fulcio_cert_test.go
  image/signature/policy_config_sigstore.go
  image/signature/policy_config_sigstore_test.go
  image/signature/policy_eval_sigstore.go
  image/signature/policy_types.go
Due: Image: Validate, Common: Test

storage: new sync option
  storage/docs/containers-storage.conf.5.md
  storage/drivers/btrfs/btrfs.go
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/drivers/vfs/driver.go
  storage/drivers/vfs/vfs_test.go
  storage/drivers/zfs/zfs.go
  storage/pkg/config/config.go
  storage/pkg/config/config_test.go
  storage/storage.conf
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

layers: move tarsplit write before UpdateLayerIDMap
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

layers: sync if the driver is using any syncmode
  storage/docs/containers-storage.conf.5.md
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

fix: delete subvolume will automatically delete the associated qgroup
  storage/drivers/btrfs/btrfs.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

drivers: Add package-level documentation comments
  storage/drivers/btrfs/btrfs.go
  storage/drivers/overlay/overlay.go
  storage/drivers/vfs/driver.go
  storage/drivers/zfs/zfs.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

docs: Add driver implementation documentation
  storage/docs/containers-storage-composefs.md
  storage/docs/containers-storage-driver-btrfs.md
  storage/docs/containers-storage-driver-overlay.md
  storage/docs/containers-storage-driver-vfs.md
  storage/docs/containers-storage-driver-zfs.md
  storage/docs/containers-storage-zstd-chunked.md
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

pkg/fileutils: use CopyFileRange if possible
  storage/pkg/fileutils/reflink_linux.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

chore: resolve comment issue
  go.work.sum
  image/internal/image/oci.go
  image/internal/image/oci_test.go
  image/manifest/oci.go
  image/manifest/oci_test.go
Due: Image: Validate, Common: Test

feat: support nydus image format
  go.work.sum
  image/internal/image/oci.go
  image/internal/manifest/manifest.go
  image/manifest/oci.go
Due: Image: Validate, Common: Test

storage/vendor: add github.com/cgwalters/jsonrpc-fdpass-go
  storage/go.mod
  storage/go.sum
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/.gitignore
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/Justfile
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/LICENSE
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/README.md
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/message.go
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/transport.go
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

copy: add option to strip sparse manifest lists
  image/copy/copy.go
  image/copy/multiple.go
  image/internal/manifest/docker_schema2_list.go
  image/internal/manifest/list.go
  image/internal/manifest/list_test.go
  image/internal/manifest/oci_index.go
Due: Image: Validate, Common: Test

Registries proxy config: initial impl
  image/docker/docker_client.go
  image/docker/docker_image_src.go
  image/pkg/sysregistriesv2/system_registries_v2.go
Due: Image: Validate, Common: Test

Registries proxy config: add tests
  image/docker/docker_client_test.go
  image/pkg/sysregistriesv2/system_registries_v2_test.go
  image/pkg/sysregistriesv2/testdata/proxy.conf
Due: Image: Validate, Common: Test

copy: add InstancePlatforms field for platform-based filtering
  image/copy/copy.go
  image/copy/multiple.go
  image/copy/multiple_test.go
  image/internal/set/set.go
Due: Image: Validate, Common: Test

storage: add SplitFDStreamStore interface
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/pkg/splitfdstream: new package
  storage/pkg/splitfdstream/server_linux.go
  storage/pkg/splitfdstream/server_unsupported.go
  storage/pkg/splitfdstream/types.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Refactor ParseProxy
  image/pkg/sysregistriesv2/system_registries_v2.go
Due: Image: Validate, Common: Test

Improve code comments
  image/docker/docker_client.go
Due: Image: Validate, Common: Test
