Repository containers/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage_fedora_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

storage_debian_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

Storage: Lint:
  alias: storage_lint
  env:
    CIRRUS_WORKING_DIR: /go/src/github.com/containers/storage
  container:
    image: golang
  modules_cache:
    fingerprint_script: cat storage/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'apt-get update
  
    apt-get install -y libbtrfs-dev libsubid-dev
  
    '
  ...

Image: Validate:
  alias: image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${DEBIAN_CACHE_IMAGE_NAME}
  env:
    HOME: /root
  script: 'cd image
  
    git remote update
  
    make tools
  
    # TODO: Enable once we are done with monorepo tests.
  
  ...

Common: Test:
  alias: common_testing
  container:
    image: ${FEDORA_CONTAINER_FQIN}
  modules_cache:
    fingerprint_script: cat common/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'cd common
  
    make vendor
  
    '
  test_script: 'cd common
  
    hack/tree_status.sh
  
    make build
  
    make build-cross
  
    make test
  
    '

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.23
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: 'cd storage
  
    git diff --diff-filter=M --exit-code
  
    '

Storage: codespell:
  alias: storage_codespell
  container:
    image: python
  build_script: pip install codespell
  test_script: 'cd storage
  
    codespell
  
    '

fixup! copy: add assertions for copy count in prepareInstanceOps tests.
  image/copy/multiple_test.go
Due: Image: Validate, Common: Test

fixup! copy: remove redundant comment about validation
  image/copy/multiple.go
Due: Image: Validate, Common: Test

overlay: set dirmeta_delegate xattr on implicit directories during layer unpack
  storage/drivers/overlay/overlay.go
  storage/pkg/archive/archive.go
  storage/pkg/archive/archive_linux.go
  storage/pkg/archive/archive_linux_test.go
  storage/pkg/archive/archive_other.go
  storage/pkg/archive/diff.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Add ReportResolvedSourceReference to copy.Options
  image/copy/copy.go
  image/docker/docker_image_src.go
  image/docker/docker_image_src_test.go
  image/types/types.go
Due: Image: Validate, Common: Test

feat(zfs): add idmapped mount support for rootless containers
  storage/drivers/zfs/zfs.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage, overlay: add lower-layers file
  storage/drivers/overlay/overlay.go
  storage/tests/overlay-recreate.bats
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage, overlay: change test to user 500 layers
  storage/drivers/overlay/overlay_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

pkg/fileutils: use CopyFileRange if possible
  storage/pkg/fileutils/reflink_linux.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage, chunked: new function GenerateDumpFromTarHeaders
  storage/pkg/chunked/dump/dump.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/vendor: add github.com/cgwalters/jsonrpc-fdpass-go
  storage/go.mod
  storage/go.sum
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/.gitignore
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/Justfile
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/LICENSE
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/README.md
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/message.go
  vendor/github.com/cgwalters/jsonrpc-fdpass-go/transport.go
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/pkg/splitfdstream: new package
  storage/pkg/splitfdstream/server_linux.go
  storage/pkg/splitfdstream/server_unsupported.go
  storage/pkg/splitfdstream/types.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/archive,chrootarchive: add support for splitfdstream
  storage/pkg/archive/archive.go
  storage/pkg/archive/archive_test.go
  storage/pkg/archive/diff.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: add SplitFDStreamStore interface
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/store: add new APIs to resolve image ID
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage, overlay: use openat2 instead of using procfs
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage/overlay: implement SplitFDStreamDriver
  storage/drivers/overlay/composefs.go
  storage/drivers/overlay/overlay.go
  storage/drivers/overlay/overlay_splitfdstream.go
  storage/drivers/overlay/splitfdstream_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

image, storage: expose the underlying SplitFDStreamStore
  image/storage/storage_src.go
Due: Image: Validate, Common: Test

Libnetwork: Refactor to use deterministic network order
  common/libnetwork/internal/util/validate.go
  common/libnetwork/netavark/ipam.go
  common/libnetwork/netavark/ipam_test.go
  common/libnetwork/netavark/run.go
  common/libnetwork/netavark/run_test.go
  common/libnetwork/types/network.go
Due: Common: Test

json-proxy: add GetSplitFDStreamSocket endpoint
  common/cmd/json-proxy-test-server/main.go
  common/pkg/json-proxy/handler.go
  common/pkg/json-proxy/proxy.go
  common/pkg/json-proxy/proxy_test.go
  common/pkg/json-proxy/types.go
Due: Common: Test

WIP: Use unified configfile parser for policy.json
  common/libimage/copier.go
  common/libimage/manifests/manifests_test.go
  common/pkg/config/config.go
  common/pkg/config/config_bsd.go
  common/pkg/config/config_darwin.go
  common/pkg/config/config_linux.go
  common/pkg/config/config_windows.go
  common/pkg/config/default.go
  common/pkg/supplemented/supplemented_test.go
  image/docs/containers-policy.json.5.md
  image/signature/policy_config.go
  image/signature/policy_config_test.go
  image/signature/policy_paths_common.go
  image/signature/policy_paths_freebsd.go
  image/types/types.go
Due: Image: Validate, Common: Test

configfile: Guard _OVERRIDE with DoNotLogDropInFiles
  storage/pkg/configfile/parse.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Put back the SignaturePolicyPath options.
  common/libimage/copier.go
  common/libimage/manifests/manifests_test.go
  common/pkg/supplemented/supplemented_test.go
  image/docs/containers-policy.json.5.md
  image/signature/policy_config.go
  image/types/types.go
Due: Image: Validate, Common: Test

Unify the DefaultPolicy tests into single test.
  image/signature/policy_config_test.go
Due: Image: Validate, Common: Test

Fix formatting and use CONTAINERS_POLICY_JSON.
  image/docs/containers-policy.json.5.md
  image/signature/policy_config.go
  image/signature/policy_config_test.go
Due: Image: Validate, Common: Test

feat: add bcachefs storage driver with COW-aware diff
  storage/drivers/bcachefs/bcachefs.go
  storage/drivers/bcachefs/dummy_unsupported.go
  storage/drivers/driver_linux.go
  storage/drivers/register/register_bcachefs.go
  storage/pkg/archive/changes_full.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: Add strip_suid_sgid TOML key & struct fields
  storage/drivers/driver.go
  storage/drivers/fsdiff.go
  storage/drivers/overlay/overlay.go
  storage/layers.go
  storage/pkg/archive/archive.go
  storage/pkg/config/config.go
  storage/store.go
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: Add documentation for strip_suid_sgid setting
  storage/docs/containers-storage.conf.5.md
  storage/storage.conf
  storage/storage.conf-freebsd
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: Implement strip_suid_sgid in layer extraction paths
  storage/check.go
  storage/pkg/archive/archive.go
  storage/pkg/archive/archive_bsd.go
  storage/pkg/archive/archive_linux.go
  storage/pkg/archive/archive_test.go
  storage/pkg/archive/archive_windows.go
  storage/pkg/archive/diff.go
  storage/pkg/chrootarchive/archive_unix.go
  storage/pkg/chunked/storage_linux.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

storage: Add tests for strip_suid_sgid setting
  storage/pkg/archive/archive_test.go
  storage/store_test.go
  storage/strip_suid_sgid_test.go
  storage/tests/strip-suid-sgid.bats
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

report searched paths on missing policy.json
  image/signature/policy_config.go
  image/signature/policy_config_test.go
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

image: support UID/GID mapping options in the storage transport
  image/storage/storage_dest.go
  image/types/types.go
Due: Image: Validate, Common: Test

libimage: pass UID/GID mappings through the pull path
  common/libimage/copier.go
Due: Common: Test

storage: preserve metadata for implicit dirs
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/drivers/unionbackfill/backfill.go
  storage/pkg/chunked/filesystem_linux.go
  storage/pkg/chunked/filesystem_linux_test.go
  storage/pkg/chunked/storage_linux.go
  storage/pkg/tarbackfill/tarbackfill.go
  storage/pkg/tarbackfill/tarbackfill_test.go
  storage/staged_applydiff_linux_test.go
  storage/tests/apply-diff.bats
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Replace the btrfs applyDriverDefaultQuota parameter with readOnly
  storage/drivers/btrfs/btrfs.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Don't use a whole Driver struct to pass around per-layer quota settings
  storage/drivers/btrfs/btrfs.go
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Fix implementation of quota defaults in overlay.Driver.CreateReadWrite
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Consolidate BTRFS quota option logic into parseStorageOpt
  storage/drivers/btrfs/btrfs.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Common: Test, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: any of: storage/**
  storage_debian_testing: any of: storage/**
  Storage: Lint: any of: storage/**
  Image: Validate: any of: storage/**, image/**
  Common: Test: any of: storage/**, image/**, common/**
  Storage: Cross: any of: storage/**
  Storage: gofix: any of: storage/**
  Storage: codespell: any of: storage/**
