Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

Use "go-version: stable" for the compilation / lint steps
  .github/workflows/ci.yml
Due: none

Document (a guess at!) why we mount over /tmp
  hack/ci/runner.sh
Due: none

Stop remounting over /tmp
  hack/ci/runner.sh
Due: none

fileutils: add Reflink function for reflink-only cloning
  storage/pkg/fileutils/reflink_linux.go
  storage/pkg/fileutils/reflink_unsupported.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

fix: prevent static IP assignment matching subnet gateway
  common/libnetwork/netavark/ipam.go
  common/libnetwork/netavark/ipam_test.go
Due: none

chunked: use reflinks for chunk deduplication
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/pkg/chunked/storage_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

composefs: set FSOPEN_CLOEXEC on fsopen
  storage/drivers/overlay/composefs.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

composefs: set FSMOUNT_CLOEXEC on fsmount
  storage/drivers/overlay/composefs.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

ci: remove runtime installs
  hack/ci/runner.sh
Due: none

storage/pkg/chroot: fix IsRootless() init
  storage/pkg/chrootarchive/chroot_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: add some error wrapping to directHandler
  storage/pkg/archive/archive_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage/pkg/chroot: drop pivot_root for linux
  storage/pkg/chrootarchive/archive_unix.go
  storage/pkg/chrootarchive/chroot_linux.go
  storage/pkg/chrootarchive/chroot_unix.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Add DialNetContext for context-aware SSH dialing
  common/pkg/ssh/utils.go
  common/pkg/ssh/utils_test.go
Due: none

Require passt >= 0:20260526.g038c51e for pesto support
  common/rpm/containers-common.spec
Due: none

Update automation image to 2026-06-16
  hack/ci/ci.sh
  hack/ci/runner.sh
Due: none

storage/pkg/lockfile: use atomic.Uint64
  storage/pkg/lockfile/lastwrite.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage/pkg/mount: use slices.Backward
  storage/pkg/mount/flags.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage/pkg/locker: use atomic.Int32
  storage/pkg/locker/locker.go
  storage/pkg/locker/locker_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

image/pkg/blobinfocache: modernize
  image/pkg/blobinfocache/internal/prioritize/prioritize.go
Due: Image: Cross, image_test, image_test_skopeo

archive: fix loss of setuid/setgid bits during bsd untar
  storage/pkg/archive/archive_bsd.go
  storage/pkg/archive/setuid_bsd_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

common/pkg/seccomp: use slices.Contains
  common/pkg/seccomp/seccomp_linux.go
Due: none

ci: drop storage go fix job
  .github/workflows/ci.yml
Due: none

lint: add modernize
  common/.golangci.yml
  image/.golangci.yml
  storage/.golangci.yml
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage: fix modernize errors
  storage/drivers/btrfs/btrfs.go
  storage/pkg/chunked/storage_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

image: fix modernize errors
  image/internal/image/docker_schema1.go
Due: Image: Cross, image_test, image_test_skopeo

add CI label on PRs
  .github/labeler.yml
Due: none

ci: turn validate workflow into reusable action
  .github/workflows/ci.yml
  .github/workflows/validate.yml
Due: none

ci: use reusable action for lima
  .github/workflows/ci.yml
  .github/workflows/lima.yml
Due: none

validate.yml: pin github actions
  .github/workflows/validate.yml
Due: none

ci: wait for validation before running all tests
  .github/workflows/ci.yml
Due: none

ci: add check for basic github action yml things
  .github/workflows/ci.yml
  .github/workflows/validate.yml
  Makefile
  hack/ci/ci_yaml_test.py
Due: none

validate: add job timeouts
  .github/workflows/validate.yml
Due: none

ci: lower some timeout values
  .github/workflows/ci.yml
Due: none

gh actions: update permissions
  .github/workflows/ci.yml
  .github/workflows/lima.yml
  .github/workflows/validate.yml
Due: none

.github/workflows/labeler.yml: pin action by sha
  .github/workflows/labeler.yml
Due: none

ci: use smaller cncf runners
  .github/workflows/ci.yml
  hack/ci/ci.sh
Due: none

gh actions: add full version comment after digest
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/lima.yml
  .github/workflows/validate.yml
Due: none

github action: rework filters
  .github/filters.yaml
  .github/workflows/ci.yml
Due: none

Fix false ErrLayerMissing for RW layers with RO parents
  storage/check.go
  storage/check_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix
