Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage_fedora_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

storage_debian_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

Image: Cross:
  alias: image_cross
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test:
  alias: image_test
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test_skopeo:
  alias: image_test_skopeo
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    GOSRC: ${CIRRUS_WORKING_DIR}
    GOPATH: /var/tmp/go
    SKOPEO_CI_BRANCH: main
    SCRIPT_BASE: ./contrib/cirrus
  ...

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.24
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.24
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: '# The git diff complains about broken symlinks in some test files.
  
    # We therefore filter-out these files, since they are not changed by
  
    # gofix anyway.
  
  ...

unshare: do not cache HomeDir() when HOME is set
  storage/pkg/unshare/unshare.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

common: re-expose ModuleDirectories paths
  common/pkg/config/modules.go
  common/pkg/config/modules_test.go
Due: none

composefs: do not leak open file
  storage/drivers/overlay/composefs.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

composefs: Properly add verity info to generated dump file
  storage/pkg/chunked/dump/dump.go
  storage/pkg/chunked/dump/dump_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

common, storage: drop O_RDONLY with O_PATH
  common/pkg/timezone/timezone.go
  storage/pkg/chunked/filesystem_linux.go
  storage/pkg/chunked/storage_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

docs: add missing search path in containers-registries.conf(5)
  image/docs/containers-registries.conf.5.md
Due: Image: Cross, image_test, image_test_skopeo

docs: update containers.conf man page for new config file logic
  common/docs/containers.conf.5.md
Due: none

docs: add new containers-config(5) man page
  common/docs/containers-config.5.md
  common/docs/containers.conf.5.md
  image/docs/containers-registries.conf.5.md
  storage/docs/containers-storage.conf.5.md
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Add a standard EXAMPLES section
  common/docs/containers-config.5.md
  common/docs/containers.conf.5.md
  image/docs/containers-registries.conf.5.md
  storage/docs/containers-storage.conf.5.md
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Fix misc. small typos and grammar nits
  common/docs/containers-config.5.md
  common/docs/containers.conf.5.md
  image/docs/containers-registries.conf.5.md
Due: Image: Cross, image_test, image_test_skopeo

Try to re-word the ordering parts based on a shared "precedence" concept
  common/docs/containers-config.5.md
Due: none

common: move machine marker file
  common/pkg/machine/machine.go
  common/pkg/machine/machine_test.go
Due: none

storage: fix broken fgetxattr call
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage/pkg/configfile: special case uid -1
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage/pkg/configfile: fix ordering of special drop-ins
  storage/pkg/configfile/parse.go
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

docs: fix config drop-in ordering
  common/docs/containers.conf.5.md
  image/docs/containers-certs.d.5.md
  image/docs/containers-registries.conf.5.md
Due: Image: Cross, image_test, image_test_skopeo

storage/pkg/configfile: fix duplicated test case
  storage/pkg/configfile/parse_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

common: mount config dir to /etc/containers for machine
  common/pkg/config/default.go
Due: none

Fix TestTransportParseReference
  image/storage/storage_test.go
  image/storage/storage_transport_test.go
Due: Image: Cross, image_test, image_test_skopeo

Tighten the test of parsing references without []
  image/storage/storage_transport_test.go
Due: Image: Cross, image_test, image_test_skopeo

docs: Update godoc badge link in image/README.md
  image/README.md
Due: Image: Cross, image_test, image_test_skopeo

libartifact: add CloseEventChannel to cleanly stop event streams
  common/pkg/libartifact/store.go
  common/pkg/libartifact/store_test.go
Due: none

common/pkg/config: rm unneeded wrapper
  common/pkg/config/config_linux.go
  common/pkg/config/config_unsupported.go
  common/pkg/config/default.go
Due: none

deps: bump oc/selinux to v1.14.1
  common/go.mod
  common/go.sum
  go.work.sum
  image/go.mod
  image/go.sum
  storage/go.mod
  storage/go.sum
  storage/layers.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

docs: image/signature: Document ASCII Armor Message not supported
  image/docs/containers-signature.5.md
Due: Image: Cross, image_test, image_test_skopeo

Add pesto support for dynamic port forwarding via pasta control socket
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/pasta/pesto_linux.go
  common/libnetwork/pasta/pesto_linux_test.go
  common/libnetwork/types/network.go
Due: none

Add rootless_port_forwarder option to select port forwarding backend
  common/docs/containers.conf.5.md
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/pkg/config/config.go
  common/pkg/config/containers.conf
  common/pkg/config/default.go
Due: none

Strip HostIP from port mappings in pasta mode
  common/libnetwork/netavark/network.go
  common/libnetwork/netavark/run.go
Due: none

common: provide empty mounts.conf for non-RHEL systems
  common/contrib/redhat/mounts.conf
  common/pkg/subscriptions/mounts.conf
  common/rpm/containers-common.spec
Due: none

Update interoperability test to match Docker's changed implementation
  image/pkg/docker/config/config_test.go
Due: Image: Cross, image_test, image_test_skopeo

Manpage: remove slirp4netns/boltdb references
  common/docs/containers.conf.5.md
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
Due: none

Bump c/storage to v1.63.0
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Bump to c/image v5.40
  image/version/version.go
Due: Image: Cross, image_test, image_test_skopeo

Bump to c/storage v1.63.0 in c/image, c/image to v5.40
  common/go.mod
  common/go.sum
  image/go.mod
  image/go.sum
  vendor/modules.txt
Due: Image: Cross, image_test, image_test_skopeo

Bump c/storage to v1.63.0, c/image to v5.40.0
  common/go.mod
  common/go.sum
  vendor/modules.txt
Due: none

Bump c/common to v0.68.0
  common/version/version.go
Due: none

Bump to storage, image, common to dev versions
  common/version/version.go
  image/version/version.go
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Run (go fix) and clean up other related instances
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/json-proxy/proxy_test.go
  common/pkg/netns/netns_linux.go
  image/docker/registries_d_test.go
  image/pkg/blobcache/blobcache.go
  storage/drivers/overlay/overlay.go
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Fix an inefficient use of WriteString
  image/docker/docker_client_test.go
Due: Image: Cross, image_test, image_test_skopeo

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
