Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

storage_fedora_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

storage_debian_testing:
  gce_instance:
    image_name: ${VM_IMAGE}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  ...

Image: Cross:
  alias: image_cross
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test:
  alias: image_test
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  env:
    HOME: /root
  ...

image_test_skopeo:
  alias: image_test_skopeo
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    GOSRC: ${CIRRUS_WORKING_DIR}
    GOPATH: /var/tmp/go
    SKOPEO_CI_BRANCH: main
    SCRIPT_BASE: ./contrib/cirrus
  ...

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.24
  modules_cache:
    fingerprint_script: cat **/go.sum
    folder: $GOPATH/pkg/mod
    populate_script: make vendor
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.24
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: '# The git diff complains about broken symlinks in some test files.
  
    # We therefore filter-out these files, since they are not changed by
  
    # gofix anyway.
  
  ...

common/libnetwork: fix pesto port publish on connect
  common/libnetwork/netavark/run.go
Due: none

Bump c/storage to v1.64.0
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

unshare: use inode check for detecting the initial user namespace
  storage/pkg/unshare/unshare_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Vendor c/storage 1.64 into image and common
  common/go.mod
  common/go.sum
  image/go.mod
  image/go.sum
  vendor/modules.txt
Due: Image: Cross, image_test, image_test_skopeo

Bump c/image to v5.41.0
  image/version/version.go
Due: Image: Cross, image_test, image_test_skopeo

Bump c/storage 1.64.0, c/image 5.41.0 in c/common
  common/go.mod
  common/go.sum
  vendor/modules.txt
Due: none

Bump c/common to v0.69.0
  common/version/version.go
Due: none

Bump to dev versions after dance
  common/version/version.go
  image/version/version.go
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

image: fix full-width punctuation in registries.conf documentation
  image/docs/containers-registries.conf.5.md
  image/pkg/sysregistriesv2/system_registries_v2.go
Due: Image: Cross, image_test, image_test_skopeo

link org wide LLM_POLICY
  CONTRIBUTING.md
  LLM_POLICY.md
Due: none

docker: add blob-level mirror fallback in dockerImageSource
  image/docker/docker_image_src.go
  image/docker/docker_image_src_test.go
  image/docs/containers-registries.conf.5.md
Due: Image: Cross, image_test, image_test_skopeo

GetBlobAt supports mirror fallback infrastructure
  image/docker/docker_image_src.go
  image/docs/containers-registries.conf.5.md
Due: Image: Cross, image_test, image_test_skopeo

[podman-6.1] Bump c/image to 5.41.1
  image/version/version.go
Due: Image: Cross, image_test, image_test_skopeo

common/pkg/config: update enable_port_reservation docs
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
Due: none

common/pkg/config: add new force_port_listen option
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/config_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/testdata/containers_default.conf
Due: none

fileutils: fix wildcard negation directory descent in `archive.TarWithOptions`
  storage/pkg/archive/archive.go
  storage/pkg/archive/archive_test.go
  storage/pkg/fileutils/fileutils.go
  storage/pkg/fileutils/fileutils_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Bump common to 0.69.1
  common/version/version.go
Due: none

overlay: treat EACCES/EPERM metacopy probe failure as unsupported
  storage/drivers/overlay/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

remove image/MAINTAINERS and storage/drivers/zfs/MAINTAINERS
  image/MAINTAINERS
  storage/drivers/zfs/MAINTAINERS
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

update Maintainers and Governance to link to community repo
  GOVERNANCE.md
  MAINTAINERS.md
Due: none

remove unused OWNERS files
  common/OWNERS
  storage/OWNERS
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

libimage: wrap the isCorrupted error
  common/libimage/image.go
Due: none

libimage: support platform selection on push
  common/libimage/push.go
Due: none

packit: update github team for the new org
  .packit.yaml
Due: none

storage/drivers: optimize chowner logic
  storage/drivers/chown_unix.go
  storage/drivers/chown_unix_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Remove calls to go-spew + go-difflib
  common/go.mod
  common/go.sum
  common/pkg/hooks/exec/runtimeconfigfilter.go
  vendor/github.com/davecgh/go-spew/LICENSE
  vendor/github.com/davecgh/go-spew/spew/bypass.go
  vendor/github.com/davecgh/go-spew/spew/bypasssafe.go
  vendor/github.com/davecgh/go-spew/spew/common.go
  vendor/github.com/davecgh/go-spew/spew/config.go
  vendor/github.com/davecgh/go-spew/spew/doc.go
  vendor/github.com/davecgh/go-spew/spew/dump.go
  vendor/github.com/davecgh/go-spew/spew/format.go
  vendor/github.com/davecgh/go-spew/spew/spew.go
  vendor/github.com/pmezard/go-difflib/LICENSE
  vendor/github.com/pmezard/go-difflib/difflib/difflib.go
  vendor/modules.txt
Due: none

rpm: drop slirp4netns suggests
  common/rpm/containers-common.spec
Due: none

rpm: recommend shared-mime-info
  common/rpm/containers-common.spec
Due: none

ci: use zizmor for GitHub Actions security analysis
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/validate.yml
  .github/workflows/zizmor.yml
Due: none

Update to Go 1.27.0
  common/go.mod
  go.work
  image/go.mod
  storage/go.mod
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Rename the json value from jsoniter to jsonIT
  common/libimage/copier.go
  common/libimage/corrupted_test.go
  common/libimage/image_config.go
  common/libimage/inspect.go
  common/libimage/manifest_list.go
  common/libimage/manifest_list_test.go
  common/libimage/runtime.go
  storage/additional_layer_test.go
  storage/containers.go
  storage/drivers/chown.go
  storage/drivers/jsoniter.go
  storage/drivers/overlay/jsoniter.go
  storage/drivers/overlay/mount.go
  storage/images.go
  storage/jsoniter.go
  storage/layers.go
  storage/pkg/chrootarchive/archive_unix.go
  storage/pkg/chrootarchive/diff_unix.go
  storage/pkg/chrootarchive/jsoniter.go
  storage/pkg/chunked/cache_linux.go
  storage/pkg/chunked/internal/minimal/compression.go
  storage/pkg/chunked/storage_linux.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use encoding/json/v2 for data one of our programs wrote
  common/libimage/manifest_list.go
  common/libimage/manifests/manifests.go
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/netavark/ipam.go
  common/pkg/config/connections.go
  common/pkg/configmaps/configmapsdb.go
  common/pkg/configmaps/filedriver/filedriver.go
  common/pkg/secrets/filedriver/filedriver.go
  common/pkg/secrets/secretsdb.go
  image/internal/signature/sigstore.go
  image/pkg/blobinfocache/boltdb/boltdb.go
  image/pkg/blobinfocache/sqlite/sqlite.go
  image/pkg/cli/basetls/basetls.go
  image/storage/storage_src.go
  storage/containers.go
  storage/images.go
  storage/layers.go
  storage/pkg/chunked/cache_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
