Repository mtrmac/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

RISKY: Add/correct error reporting to uses of Scanner
  common/pkg/auth/auth.go
  common/pkg/cgroups/utils_linux.go
  common/pkg/subscriptions/subscriptions.go
  storage/pkg/idtools/idtools.go
  storage/pkg/parsers/operatingsystem/operatingsystem_linux.go
  storage/pkg/unshare/unshare_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use a more modern error wrapping
  image/signature/mechanism_openpgp.go
Due: Image: Cross, image_test, image_test_skopeo

Remove an unused constant
  common/pkg/config/config_windows.go
Due: none

Restrict tests to platforms they work on
  common/libnetwork/etchosts/hosts_unix_test.go
  common/pkg/chown/chown_test.go
  common/pkg/parse/parse_unix_test.go
  common/pkg/umask/umask_unix_test.go
Due: none

Stop using gotest.tools
  storage/drivers/copy/copy_test.go
  storage/go.mod
  storage/go.sum
  storage/pkg/chrootarchive/archive_unix_test.go
  storage/types/options_test.go
  vendor/gotest.tools/v3/LICENSE
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/assert/cmp/result.go
  vendor/gotest.tools/v3/internal/assert/assert.go
  vendor/gotest.tools/v3/internal/assert/result.go
  vendor/gotest.tools/v3/internal/difflib/LICENSE
  vendor/gotest.tools/v3/internal/difflib/difflib.go
  vendor/gotest.tools/v3/internal/format/diff.go
  vendor/gotest.tools/v3/internal/format/format.go
  vendor/gotest.tools/v3/internal/source/bazel.go
  vendor/gotest.tools/v3/internal/source/defers.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/internal/source/update.go
  vendor/gotest.tools/v3/internal/source/version.go
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Update github.com/coreos/go-oidc/v3
  image/go.mod
  image/go.sum
  vendor/modules.txt
Due: Image: Cross, image_test, image_test_skopeo

Update github.com/fatih/color
  image/go.mod
  image/go.sum
  vendor/modules.txt
Due: Image: Cross, image_test, image_test_skopeo

Update github.com/miekg/pkcs11
  common/go.mod
  common/go.sum
  image/go.mod
  image/go.sum
  vendor/github.com/miekg/pkcs11/params.go
  vendor/github.com/miekg/pkcs11/pkcs11.go
  vendor/github.com/miekg/pkcs11/release.go
  vendor/github.com/miekg/pkcs11/types.go
  vendor/github.com/miekg/pkcs11/vendor.go
  vendor/github.com/miekg/pkcs11/zconst.go
  vendor/modules.txt
Due: Image: Cross, image_test, image_test_skopeo

Update github.com/smallstep/pkcs7
  common/go.mod
  common/go.sum
  image/go.mod
  image/go.sum
  vendor/github.com/smallstep/pkcs7/pkcs7.go
  vendor/github.com/smallstep/pkcs7/sign.go
  vendor/github.com/smallstep/pkcs7/verify.go
  vendor/modules.txt
Due: Image: Cross, image_test, image_test_skopeo

Update go.yaml.in/yaml/v2
  common/go.mod
  common/go.sum
  vendor/modules.txt
Due: none

Migrate from gopkg.in/yaml.v3 to go.yaml.in/yaml/v3
  image/docker/registries_d.go
  image/go.mod
  image/go.sum
  image/openshift/openshift-copies.go
  image/openshift/openshift-copies_test.go
  image/pkg/cli/basetls/tlsdetails/tlsdetails.go
  image/pkg/cli/sigstore/params/sigstore.go
Due: Image: Cross, image_test, image_test_skopeo

storage: apply go fix modernizations
  storage/internal/tempdir/tempdir_test.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Don't ignore unexpected errors in EnableVerity
  storage/pkg/chunked/storage_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Refactor error handling in recordFsVerity
  storage/pkg/chunked/storage_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Update containers/ocicrypt
  common/go.mod
  common/go.sum
  image/go.mod
  image/go.sum
  vendor/github.com/containers/ocicrypt/Makefile
  vendor/github.com/containers/ocicrypt/config/constructors.go
  vendor/github.com/containers/ocicrypt/crypto/pkcs11/common.go
  vendor/github.com/containers/ocicrypt/utils/keyprovider/keyprovider.pb.go
  vendor/github.com/containers/ocicrypt/utils/keyprovider/keyprovider.proto
  vendor/github.com/containers/ocicrypt/utils/keyprovider/keyprovider_grpc.pb.go
  vendor/github.com/golang/protobuf/AUTHORS
  vendor/github.com/golang/protobuf/CONTRIBUTORS
  vendor/github.com/golang/protobuf/LICENSE
  vendor/github.com/golang/protobuf/proto/buffer.go
  vendor/github.com/golang/protobuf/proto/defaults.go
  vendor/github.com/golang/protobuf/proto/deprecated.go
  vendor/github.com/golang/protobuf/proto/discard.go
  vendor/github.com/golang/protobuf/proto/extensions.go
  vendor/github.com/golang/protobuf/proto/properties.go
  vendor/github.com/golang/protobuf/proto/proto.go
  vendor/github.com/golang/protobuf/proto/registry.go
  vendor/github.com/golang/protobuf/proto/text_decode.go
  vendor/github.com/golang/protobuf/proto/text_encode.go
  vendor/github.com/golang/protobuf/proto/wire.go
  vendor/github.com/golang/protobuf/proto/wrappers.go
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_resolve.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_validate.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.pb.go
  vendor/modules.txt
Due: Image: Cross, image_test, image_test_skopeo

Makefile: add $GOEXE to cross targets, add windows,darwin arm64
  storage/Makefile
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Make this a subproject of Podman Container Tools
  CODE-OF-CONDUCT.md
  MAINTAINERS.md
Due: none

ci: rename contrib/cirrus to hack/ci
  hack/ci/build_and_test.sh
  hack/ci/lib.sh
  hack/ci/runner.sh
  hack/ci/setup.sh
  hack/ci/timestamp.awk
Due: none

ci: replace Cirrus CI with GitHub Actions
  .cirrus.yml
  .github/workflows/ci.yml
  hack/ci/build_and_test.sh
  hack/ci/ci.sh
  hack/ci/lib.sh
  hack/ci/logcollector.sh
  hack/ci/runner.sh
  hack/ci/setup.sh
  hack/ci/template.lima.yml
  hack/ci/timestamp.awk
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Skip reuse of removed layers in `copyFileFromOtherLayer`
  storage/pkg/chunked/storage_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

feat: pass through DestinationTimestamp when pushing manifest
  common/libimage/manifests/manifests.go
Due: none

image/copy: Fix missing progress reporting for chunked layers
  image/copy/blob.go
  image/copy/progress.go
  image/copy/progress_bars.go
  image/copy/progress_channel.go
  image/copy/progress_channel_test.go
  image/copy/single.go
  image/types/types.go
Due: Image: Cross, image_test, image_test_skopeo

image/copy: Fix reader tests in progress_channel_test.go
  image/copy/progress_channel_test.go
Due: Image: Cross, image_test, image_test_skopeo

Don't fail chunked pull if a layer is being removed
  storage/pkg/chunked/storage_linux.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Consolidate reporting layer errors in Check
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Consolidate image error reporting in Check
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Consolidate reporting container errors in Check
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Simplify error reporting in Check further
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Introduce CheckReport.record...Errors
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Stop creating a goroutine
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Simplify collecting diff headers
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Eliminate a variable
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Only lookup errors to append once
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Move a loop-invariant value out of a loop
  storage/check.go
Due: storage_fedora_testing, storage_debian_testing, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix

Use the GitHub action grouping syntax
  hack/ci/ci.sh
  hack/ci/runner.sh
Due: none

Fix the test filtering for root-only tests
  hack/ci/runner.sh
Due: none

Update to the current Skopeo CI image
  hack/ci/runner.sh
Due: none

Add a FIXME to manage Lima images via Renovate
  hack/ci/ci.sh
Due: none

Add a variable for changing the branch we run Skopeo tests against
  hack/ci/runner.sh
Due: none
